
.page-foot__legal {
	clear: both;
	margin: 0;
	
	.copyright {
		display: inline-block;
	}
}

/*------------------------------------*\
    #ARTICLES
\*------------------------------------*/

.h-entry {
	box-sizing: border-box;
	border-bottom: 2px solid lighten($grey-lighter,5%);
	@include clearfix;
	text-align: left;
	padding-left: 200px;
	
	&:last-child {
		border-bottom: 0;
	}
}

.h-entry__image-link {
	float: left;
	margin: 0 0 $baseline*2 -200px;
	width: 180px;
}

.featured-projects {
	
	.h-entry {
		border-bottom: none;
		float: left;
		margin-bottom: 0;
		padding: 0 $baseline/2;
		text-align: center;
		width: 50%;
		
		&:first-child {
			width: 100%;
		}
	}
	
	.h-entry__image-link {
		float: none;
		margin-left: 0;
		width: 100%;
	}
}



.featured-blog {
	
	.h-entry {
		border-bottom: none;
		margin-bottom: $baseline;
		text-align: left;
		padding-left: 120px;
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	.h-entry__image-link {
		float: left;
		margin-left: -120px;
		width: 100px;
	}
}


.pagination {
	border-top: 2px solid lighten($grey-lighter,5%);
	padding-top: $baseline;
}