
/*------------------------------------*\
    #GRIDS
\*------------------------------------*/

/**
 * Use the `.grid` object to display content in (multiple) column layouts.
 * Extend this object with a `.grid--*` skin class to change it's appearance.
 *
 * 1. A left margin of -20px is set to accommodate `padding-left: 20px;` which
 *    is set on each `grid__item` object. This aligns the left-most edge to the
 *    reset of the page content.
 */

.grid {
	@include clearfix;
	margin: 0 0 0 -40px; /* [1] */
}

/**
 * Each `.grid` column object must have a class of `.grid__item`. The width of
 * each item is set using a width extended in the #WIDTHS section.
 */

.grid__item {
	box-sizing: border-box;
	float: left;
	padding-left: 40px; /* [1] */
}





/*------------------------------------*\
    #WIDTHS
\*------------------------------------*/

/**
 * A set of width classes that can be used throughout the website but are mainly
 * used to set the column widths on `.grid` objects.
 */

.one-half,
.two-quarters 	{width: 50%;}

.one-third 		{width: 33.33333%;}
.two-thirds 	{width: 66.66666%;}

.one-quarter 	{width: 25%;}
.three-quarters {width: 75%;}



.feature-list__item {
	width: 25%;
	
	&:nth-child(odd) {
		clear: none;
	}
	
	&:nth-child(4n+1) {
		clear: left;
	}
}





.page-foot {
	
	.grid {
		margin-left: -25px;
	}
}

.page-foot__item {
	padding-left: 25px;
}


.page-foot__item--about {
	float: left;
	padding-right: $baseline;
	width: 45%;
}

.page-foot__item--sitemap {
	padding-left: $baseline*2;
	width: 15%;
}

.page-foot__item--resources {
	width: 17%;
}

.page-foot__item--contact {
	width: 22%;
}






.page-nav__title {
	margin-bottom: $baseline/2;
}


.page-nav__link {
	background: none;
	display: inline-block;
	margin-bottom: 0;
	padding: $baseline/8 0 $baseline/8 $baseline/1.25;
	
	&:before,
	&:after {
		top: 7px;
		left: 0;
	}
	
	&:after {
		left: -$baseline/2;
	}
	
	&:hover,
	&:focus {
	    
	    &:after {
		    left: 0;
	    }
	}
}


/*------------------------------------*\
    #ARTICLES
\*------------------------------------*/

.featured-projects {
	
	.h-entry {
		padding: 0 $baseline;
		width: 33.33333%;
		
		&:first-child {
			width: 33.33333%;
		}
	}
}


.featured-blog {
	@include clearfix;
	margin: 0 0 0 -$baseline;
	
	.h-entry {
		float: left;
		padding-left: 140px;
		width: 50%;
	}
}

