
/*------------------------------------*\
    #COLOUR
\*------------------------------------*/

/**
 * Default anchor styling.
 */

a {
	color: $link-color;
	text-decoration: none;
	transition: color .25s;
	
	&:visited {
		color: $link-color-visited;
	}
	
	&:hover {
		color: $link-color-hover;
		//text-decoration: underline;
	}
	
	&:focus {
		outline: thin dotted;
		color: $link-color-focus;
	}
	
	&:hover,
	&:active {
		outline: 0;
	}
}


/**
 * Highlighted styles.
 */

::-moz-selection {
	background-color: lighten($base-color, 65%);
	color: $base-color;
	text-shadow: none;
}

::selection {
	background-color: lighten($base-color, 65%);
	color: $base-color;
	text-shadow: none;
}