
/*------------------------------------*\
    #BOX STYLES
\*------------------------------------*/

/**
 * Generic `.boxout` class.
 */

.boxout {
	background: $grey-lighter;
	@include clearfix;
	margin-bottom: $baseline;
	padding: $baseline $baseline 0;
}




/*------------------------------------*\
    #ALERTS
\*------------------------------------*/

/**
 * Base alert/notification  styles. Extend this object with an `.alert--*` skin
 * class. Includes adjusts for common elements found within alerts.
 *
 * 1. Link styles are adjusted for the darker/coloured alert background.
 * 2. Due to updated link styles, `.btn` colours need to be reset.
 */
 
.alert {
	background-color: $alert-bg;
	border-bottom: 4px $alert-border-style $alert-border-color;
	clear: both;
	color: $alert-color;
	font-family: $font-family;
	margin-bottom: $baseline*2;
	padding: $baseline $baseline $baseline/2;

	p,
	ul,
	ol {
		margin-bottom: $baseline/2;
	}
	
	a { /* [1] */
		font-weight: 600;
		
		&:visited {
			color: $link-color;
		}
		
		&:hover,
		&:focus {
			color: $white;
		}
	}
	
	.btn {
		color: $btn-color; /* [2] */
		
		&:visited {
			color: $btn-color;
		}
	}
}

/**
 * Skin for success/info/error alerts. Extends `.alert`.
 */

.alert--success,
.alert--error {
	
	a {
		color: $grey-darker;
		
		&:visited {
			color: $grey-darker;
		}
		
		&:hover,
		&:focus {
			color: $white;
		}
	}
}

.alert--success {
	background: $alert-success-bg;
	border-color: $alert-success-border-color;
	color: $alert-success-color;
}

.alert--error {
	background: $alert-error-bg;
	border-color: $alert-error-border-color;
	color: $alert-error-color;
}

/**
 * Main title of the alert message.
 *
 * 1. Depending on the type of alert (default/info/success/error) an icon is
 *    display alongside the title. Extends `.icon--*` in _fontello.scss.
 */

.alert__title {
	color: $white;
	@include font-size(18);
	min-height: 25px;
	margin-bottom: $baseline/2;
	padding-left: 35px; /* [4] */
	
	&:before { /* [1] */
		color: darken($alert-bg,15%);
		font-size: 140%;
		margin: 0 $baseline/2 0 -35px; /* [4] */
		position: relative;
		top: 2px;
		text-shadow: 0 1px 1px rgba($white,.10);
	}
	
	.alert--success & {
		
		&:before {
			color: darken($alert-success-bg,15%);
		}
	}
	
	.alert--error & {
		
		&:before {
			color: darken($alert-error-bg,15%);
		}
	}
}

/**
 * Close button. Extends `.btn-close` in _buttons.scss.
 */

.alert__close {
	background: url(../img/sprite/btn-close.png) no-repeat 0 -20px;
	float: right;
	margin: 2px 0 $baseline/4 $baseline/2;
	
	.alert--success & 	{background-position: 0 -40px;}
	.alert--error & 	{background-position: 0 -80px;}
}

