
/*------------------------------------*\
    #PALETTES
\*------------------------------------*/

/**
 * Greyscale.
 */

$black 						: rgb(0,0,0);
$white 						: rgb(255,255,255);

$grey-darker				: rgb(29,35,38);
$grey-dark					: rgb(43,52,56);
$grey						: rgb(60,68,72);
$grey-light					: rgb(128,148,157);
$grey-lighter				: rgb(230,234,235);


/**
 * Primary (sky blue).
 */
 
$color-primary-darker		: rgb(183,66,22);
$color-primary-dark			: rgb(206,75,24);
$color-primary				: rgb(229,83,27);
$color-primary-light		: rgb(234,117,73);
$color-primary-lighter 		: rgb(250,221,209);


/**
 * Useful alert colours (traffic light).
 */


$red						: rgb(207,23,63);
$yellow						: rgb(250,195,20);
$green						: rgb(155,207,23);





/*------------------------------------*\
    #BASICS
\*------------------------------------*/

/**
 * Body styles.
 */

$body-color		: $white;
$text-color		: $grey-light;

/**
 * Margins/spacing.
 */
 
$baseline		: 20px;
$gutter			: 20px;





/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

/**
 * Base type styles.
 */

$font-family			: "Open Sans", Helvetica, Arial, sans-serif;
$font-size				: 16;
$font-lineheight		: 1.6em;

/**
 * Headings.
 */

$heading-font-family 	: inherit;
$heading-font-weight 	: 700;
$heading-font-color 	: $grey-dark;

/**
 * Alt fonts.
 */

$alt-font-family: Cambria, Georgia, Times, "Times New Roman";

/**
 * Extra type variables
 */ 

$code-font-family		: Monaco, Courier New, monospace;
$code-font-color		: $green;





/*------------------------------------*\
    #COLOUR
\*------------------------------------*/

/**
 * Base.
 */

$base-color 		: $color-primary;

/**
 * Texture.
 */
 
$border-color    	: $grey-lighter;

/**
 * Links.
 */

$link-color			: $color-primary;
$link-color-hover 	: $grey-dark;
$link-color-visited : $link-color;
$link-color-focus 	: $link-color-hover;





/*------------------------------------*\
    #TEXTURE
\*------------------------------------*/

/**
 * Alert base styles.
 */

$alert-bg 					: $grey-dark;
$alert-border-color			: darken($grey-dark,5%);
$alert-border-width 		: 2px;
$alert-border-style 		: solid;
$alert-color				: lighten($grey-dark,45%);

/**
 * Error alerts.
 */
 
$alert-error-bg				: $red;
$alert-error-border-color	: darken($red,5%);
$alert-error-color			: lighten($red,45%);

/**
 * Success alerts.
 */
 
$alert-success-bg 			: $green;
$alert-success-border-color : darken($green,5%);
$alert-success-color 		: lighten($green,45%);





/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

/**
 * Base button styles.
 */

$btn-bg							: $grey-dark;
$btn-color 						: $white;
$btn-border-color 				: darken($grey-dark,5%);
$btn-border-width				: 2px;
$btn-border-style				: solid;

$btn-bg-hover					: darken($btn-bg,5%);
$btn-border-color-hover			: darken($btn-border-color,5%);

/**
 * Primary button styles.
 */

$btn-primary-bg					: $color-primary;
$btn-primary-border-color		: darken($color-primary,5%);

$btn-primary-bg-hover			: darken($btn-primary-bg,5%);
$btn-primary-border-color-hover	: darken($btn-primary-border-color,5%);

/**
 * Neutral (grey) button styles.
 */

$btn-neutral-bg					: $grey-light;
$btn-neutral-border-color		: darken($grey-light,5%);

$btn-neutral-bg-hover			: darken($btn-neutral-bg,5%);
$btn-neutral-border-color-hover	: darken($btn-neutral-border-color,5%);





/*------------------------------------*\
    #TABLES
\*------------------------------------*/

/**
 * Base table styles.
 */

$table-bg 				: transparent;
$table-stripe 			: lighten($grey-lighter,5%);
$table-hover 			: darken($table-stripe,2.5%);
$table-border 			: $white;
$table-border-width		: 2px;
$table-border-style		: solid;





/*------------------------------------*\
    #FORMS
\*------------------------------------*/

/**
 * Inputs.
 */

$input-bg 				: $white;
$input-border 			: $border-color;
$input-border-width		: 2px;
$input-border-style		: solid;
$input-hover 			: darken($input-border,10%);
$input-focus  			: darken($input-border,20%);
$input-color			: $grey-dark;
$input-shadow			: inset 3px 3px 0 lighten($grey-lighter,5%);

/**
 * Placeholders.
 */
 
$placeholder-color 		: lighten($grey-light,10%);

