

<head>

	<title>Email Template</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="shortcut icon" href="favicon.ico">
	
	<style>
	
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p,
		a,
		strong,
		small {
			margin: 0;
			padding: 0;
			}
		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			color: #42494c;
			font-family: "Arial";
			font-weight: normal;
			margin: 0;
			padding: 0;
			margin-bottom: 0;
			}
		h1 {
			font-size: 24px;
			}
		h2 {
			font-size: 21px;
			}
		h3 {
			font-size: 18px;
			}
		h4 {
			font-size: 15px;
			}
		p {
			color: #889aa0;
			font-family: "Arial";
			font-size: 14px;
			line-height: 18px;
			margin: 0; 
			padding: 0;
			margin-bottom: 0;
			}
		a,
		a:link,
		a:visited {
			color: #1f9cd7;
			font-family: "Arial";
			font-size: 14px;
			text-decoration: none !important;
			}
		a:hover {
			color: #42494c !important;
			}
		strong {
			color: #42494c;
			font-family: 'Arial';
			font-size: 14px;
			font-weight: normal;
			}
	
	</style>
		
</head>

<body style="padding: 16px 0 16px 0; text-align:center; font-family:'Arial', Helvetica; text-align:center;">

	<table align="center" width="600" border="0" cellpadding="0" cellspacing="0" style="padding: 0; padding-bottom: 10px;">
		<tr>
			<td>
				<p style="color: #889aa0; font-family: 'Arial'; font-size: 11px; line-height: 20px; margin: 0; padding: 0; text-align: center;">Having trouble reading this mail? <a href="#" title="" style="color: #1f9cd7; font-family: 'Arial'; font-size: 11px; margin: 0; padding: 0; text-decoration: none !important;">View it in your browser</a></p>	
			</td>
		</tr>
	</table>

	<table align="center" width="600" border="0" cellpadding="0" cellspacing="0" style="height:100px; padding: 0;">
		<tr>
			<td colspan="1" style="margin: 0; padding: 0; padding-bottom: 20px;">
				<img src="email/logo.png" />
			</td>
		</tr>
	</table>

	<table width="600" border="0" cellpadding="0" cellspacing="0" align="center">
		
		<tr>		
			<td style="vertical-align:top; margin: 0; padding: 0; padding-bottom: 0; text-align:left;">	
				<h1 style="color:#42494c !important; font-family:'Arial'; font-size:24px; font-weight: normal; margin: 0; padding:0; padding-bottom: 10px;">
					Main heading of the email
				</h1>
			</td>
		</tr>
		
		<tr>
			<td style="vertical-align:top; margin: 0; padding: 0; padding-bottom: 20px; text-align:left;">
				<p style="font-family:'Arial'; color:#889aa0; font-size:14px; margin: 0; padding: 0; line-height:20px;">
					<strong style="color: #42494c; font-weight:normal;">
						Lorem ipsum dolor sit amet consectetur adipisicing elit
					</strong>
					sed do eiusmod tempor incididunt ut labore ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</td>
		</tr>
		
		<tr>
			<td style="vertical-align:top; margin: 0; padding: 0; padding-bottom: 20px; padding-left: 0; padding-right: 0; text-align:left;">
			
				<!-- Start Box out style -->
				<table width="600" border="0" cellpadding="10" cellspacing="0" style="background: #f2f3f4;">
					<tr>
						<td>
							<p style="color:#42494c; font-family:'Arial'; font-size:12px; line-height:20px; margin: 0; padding: 0;">Anything that needs to be boxed out...</p>
						</td>
					</tr>
				</table>
				<!-- End Box Out style -->
				
			</td>
		</tr>
		
		<tr>
			<td style="vertical-align:top; margin: 0; padding: 0; padding-bottom: 20px; text-align:left;">
				<p style="font-family:'Arial'; color:#889aa0; font-size:14px; margin: 0; padding:0 0 0 0; line-height:20px;">
					Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
				</p>
			</td>
		</tr>
		
		<tr>		
			<td style="vertical-align:top; margin: 0; padding: 0; padding-bottom: 0; text-align:left;">	
				<h2 style="color:#42494c !important; font-family:'Arial'; font-size:21px; font-weight: normal; margin: 0; padding:0; padding-bottom: 10px;">
					If another heading is needed?
				</h2>
			</td>
		</tr>
		
		<tr>
			<td style="vertical-align:top; margin: 0;padding: 0;  padding-bottom: 20px; text-align:left;">
				<p style="font-family:'Arial'; color:#889aa0; font-size:14px; margin: 0; padding: 0; line-height:20px;">
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
				</p>
			</td>
		</tr>
		
		<tr>		
			<td style="vertical-align:top; margin: 0; padding: 0; padding-bottom: 0; text-align:left;">	
				<h3 style="color:#42494c !important; font-family:'Arial'; font-size:18px; font-weight: normal; margin: 0; padding:0; padding-bottom: 10px;">
					Yet another heading if needed
				</h3>
			</td>
		</tr>
		
		<tr>
			<td style="vertical-align:top; margin: 0;padding: 0;  padding-bottom: 20px; text-align:left;">
				<p style="font-family:'Arial'; color:#889aa0; font-size:14px; margin: 0; padding: 0; line-height:20px;">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</td>
		</tr>

		<tr>
			<td style="vertical-align:top; margin: 0; padding: 0; padding-bottom: 20px; text-align:left;">
				<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; color: #889aa0; font-size: 12px; margin: 0; padding: 0; text-align: left;">
					<thead>
						<th style="background: #f2f3f4; border: none; color:#42494c; font-family:'Arial'; font-size: 12px; font-weight: normal; padding: 10px;">
							Something in here
						</th>
						<th style="background: #f2f3f4; border: none; color:#42494c; font-family:'Arial'; font-size: 12px; font-weight: normal; padding: 10px;">
							Something in here
						</th>
						<th style="background: #f2f3f4; border: none; color:#42494c; font-family:'Arial'; font-size: 12px; font-weight: normal; padding: 10px;">
							Something in here
						</th>
						<th style="background: #f2f3f4; border: none; color:#42494c; font-family:'Arial'; font-size: 12px; font-weight: normal; padding: 10px;">
							Something in here
						</th>
					</thead>
					<tbody>
						<tr>
							<td style="border-bottom: 1px solid #f2f3f4; font-family:'Arial'; font-size: 12px; padding: 10px;">
								Something in here
							</td>
							<td style="border-bottom: 1px solid #f2f3f4; font-family:'Arial'; font-size: 12px; padding: 10px;">
								Something in here
							</td>
							<td style="border-bottom: 1px solid #f2f3f4; font-family:'Arial'; font-size: 12px; padding: 10px;">
								Something in here
							</td>
							<td style="border-bottom: 1px solid #f2f3f4; font-family:'Arial'; font-size: 12px; padding: 10px;">
								Something in here
							</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px solid #f2f3f4; font-family:'Arial'; font-size: 12px; padding: 10px;">
								Something in here
							</td>
							<td style="border-bottom: 1px solid #f2f3f4; font-family:'Arial'; font-size: 12px; padding: 10px;">
								Something in here
							</td>
							<td style="border-bottom: 1px solid #f2f3f4; font-family:'Arial'; font-size: 12px; padding: 10px;">
								Something in here
							</td>
							<td style="border-bottom: 1px solid #f2f3f4; font-family:'Arial'; font-size: 12px; padding: 10px;">
								Something in here
							</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px solid #f2f3f4; font-family:'Arial'; font-size: 12px; padding: 10px;">
								Something in here
							</td>
							<td style="border-bottom: 1px solid #f2f3f4; font-family:'Arial'; font-size: 12px; padding: 10px;">
								Something in here
							</td>
							<td style="border-bottom: 1px solid #f2f3f4; font-family:'Arial'; font-size: 12px; padding: 10px;">
								Something in here
							</td>
							<td style="border-bottom: 1px solid #f2f3f4; font-family:'Arial'; font-size: 12px; padding: 10px;">
								Something in here
							</td>
						</tr>
						<tr>
							<td style="border-bottom: 1px solid #f2f3f4; font-family:'Arial'; font-size: 12px; padding: 10px;">
								Something in here
							</td>
							<td style="border-bottom: 1px solid #f2f3f4; font-family:'Arial'; font-size: 12px; padding: 10px;">
								Something in here
							</td>
							<td style="border-bottom: 1px solid #f2f3f4; font-family:'Arial'; font-size: 12px; padding: 10px;">
								Something in here
							</td>
							<td style="border-bottom: 1px solid #f2f3f4; font-family:'Arial'; font-size: 12px; padding: 10px;">
								Something in here
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		
		<tr>
			<td style="vertical-align:top; margin: 0;padding: 0;  padding-bottom: 20px; text-align:left;">
				<p style="font-family:'Arial'; color:#889aa0; font-size:14px; margin: 0; padding: 0; line-height:20px;">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</td>
		</tr>
		
		<tr>		
			<td style="vertical-align:top; margin: 0; padding: 0; padding-bottom: 0; text-align:left;">	
				<h4 style="color:#42494c !important; font-family:'Arial'; font-size:16px; font-weight: normal; margin: 0; padding:0; padding-bottom: 10px;">
					One last heading?
				</h4>
			</td>
		</tr>
		
		<tr>
			<td style="vertical-align:top; margin: 0; padding: 0; padding-bottom: 20px; text-align:left;">
				<p style="font-family:'Arial'; color:#889aa0; font-size:14px; margin: 0; padding: 0; line-height:20px;">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore ipsum dolor sit amet 
					<a href="#" title="TITLE TEXT." style="color:#1f9cd7; display: inline; font-family:'Arial'; margin: 0; padding: 0; text-decoration:none !important;">www.web-address.com</a>.
				</p>
			
			</td>
		</tr>
		
		<tr>
			<td style="vertical-align:top; margin: 0; padding: 0; padding-bottom: 20px; text-align:left;">					
				<p style="font-family:'Arial'; color:#889aa0; font-size:14px; margin: 0; padding: 0; line-height:20px;">
					Regards Company Name
					<br />
					<a href="#" title="TITLE TEXT." style="display:inline; color:#1f9cd7; font-family:'Arial'; text-decoration:none;">www.web-address.com</a>
				</p>
			</td>	
		</tr>
		
	</table>
	
	<table align="center" width="600" border="0" cellpadding="0" cellspacing="0" style="border-top: 1px solid #f2f3f4; padding-top: 20px;">
		<tr>
			<td>
				<p style="font-family:'Arial'; color:#889aa0; font-size:11px; margin: 0; padding:0 0 0 0; line-height:20px; text-align: center;"><a href="#" title="TITLE TEXT." style="color: #1f9cd7; font-family: 'Arial'; font-size: 11px; margin: 0; padding: 0; text-decoration: none !important;">Company Name</a> does not wish to spam anyone and will never e-mail you if do not wish to hear from us. If you wish to opt out of receiving any emails from us, please reply to this e-mail with the subject "remove".</p>
			</td>
		</tr>
		<tr>
			<td>
			</td>
		</tr>
	</table>
	
	<!-- End footer table -->

</body>