<!doctype html>
<html class="no-js" lang="">
	
	<head>
		
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Wireforce &middot; Home</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
		<!-- Place favicon.ico in the root directory -->
		
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
		
		<link rel="stylesheet" href="css/main.css">
				
		<!--[if (lt IE 9) & (!IEMobile)]>
			<script src="js/selectivizr.js"></script>
		<![endif]-->
	
		<script src="js/modernizr-2.8.3.min.js"></script>
	
		<!-- IE Respond Shim -->
		<!--[if lt IE 9]>
			<script src="js/respond.min.js"></script>
		<![endif]-->
		
	</head>
	
	<body>
	
	<header class="page-head page-head--masthead band--dark">
		<div class="wrap">
		
			<nav class="site-nav">
				<a href="#" class="page-head__logo">
					<img src="img/interface/logo.png" alt="Wireforce logo" />
				</a>
				<a href="#" id="site-nav__toggle">Menu</a>
				<ul class="site-nav__list">
					<li class="site-nav__item"><a href="#" class="site-nav__link">Services</a></li>
					<li class="site-nav__item"><a href="#" class="site-nav__link">Security</a></li>
					<li class="site-nav__item"><a href="#" class="site-nav__link">Blog</a></li>
					<li class="site-nav__item"><a href="#" class="site-nav__link">About</a></li>
					<li class="site-nav__item"><a href="#" class="site-nav__link">Contact</a></li>
				</ul>
			</nav>
			
			<div class="page-head__caption">
				<h1>Really big, bold brand statement about what you offer</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<a href="#" class="btn btn--primary"><span>Get Started Now</span></a>
			</div>
			
		</div>
	</header>
	
	<section class="band">
		<div class="wrap">
		
			<div class="hgroup align-center">
				<h2>What can we do for you?</h2>
				<p>We supply a wide range of high quality services, here are a few. Read a full list of <a href="#">our services</a>.</p>
			</div>
			
			<ul class="feature-list">
				<li class="feature-list__item">
					<img src="img/content/services/icon-design.png" srcset="img/content/services/icon-design@2x.png 2x" class="feature-list__icon" alt="Design" />
					<h3>Design</h3>
					<p>Efficient IT solutions personalised for you and your business.</p>
					<p class="feature-list__link"><a href="#" class="arrow-link">View details</a></p>
				</li>
				<li class="feature-list__item">
					<img src="img/content/services/icon-support.png" srcset="img/content/services/icon-support@2x.png 2x" class="feature-list__icon" alt="Support" />
					<h3>Support</h3>
					<p>Onsite and remote support <em class="amp">from as little as £50</em> per month</p>
					<p class="feature-list__link"><a href="#" class="arrow-link">View details</a></p>
				</li>
				<li class="feature-list__item">
					<img src="img/content/services/icon-supply.png" srcset="img/content/services/icon-supply@2x.png 2x" class="feature-list__icon" alt="Supply" />
					<h3>Supply</h3>
					<p>Supplying the best solutions at the lowest prices.</p>
					<p class="feature-list__link"><a href="#" class="arrow-link">View details</a></p>
				</li>
				<li class="feature-list__item">
					<img src="img/content/services/icon-hosting.png" srcset="img/content/services/icon-hosting@2x.png 2x" class="feature-list__icon" alt="Hosting" />
					<h3>Hosting</h3>
					<p>No nasty surprises, just honest web hosting with helpful support.</p>
					<p class="feature-list__link"><a href="#" class="arrow-link">View details</a></p>
				</li>
			</ul>
		
		</div>
	</section>
	
	<section class="band band--dark">
		<div class="wrap">
		
			<div class="hgroup align-center">
				<h2>Get a Quote</h2>
				<p>Leave us your details and we’ll be in touch to discuss a solution tailored to your needs</p>
			</div>
			
			<form class="form-quote">
				<div class="form-group">
					<label class="label form-group__title">Name</label>
					<div class="form-group__controls">
						<input type="text" class="textfield" placeholder="Your name" />
					</div>
				</div>
				<div class="form-group">
					<label class="label form-group__title">Email</label>
					<div class="form-group__controls">
						<input type="text" class="textfield" placeholder="Your email" />
					</div>
				</div>
				<div class="form-group">
					<label class="label form-group__title">Phone</label>
					<div class="form-group__controls">
						<input type="text" class="textfield" placeholder="Your number" />
					</div>
				</div>
				<div class="form-group">
					<label class="label form-group__title">Company</label>
					<div class="form-group__controls">
						<input type="text" class="textfield" placeholder="Your company" />
					</div>
				</div>
				<div class="form-group">
					<label class="label form-group__title">Budget</label>
					<div class="form-group__controls">
						<select>
							<option>Your budget</option>
							<option>£500</option>
							<option>£1000</option>
							<option>£2500</option>
							<option>£5000</option>
							<option>£10000</option>
							<option>£20000</option>
							<option>Other</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<button class="btn btn--primary"><span>Get Started</span></button>
				</div>
			</form>
			
			<p class="call-us">Or, give us a call on <a href="#">+44 (0) 191 228 6580</a></p>
			
		</div>
	</section>
	
	<section class="band">
		<div class="wrap">
		
			<div class="hgroup align-center">
				<h2>Trusted By</h2>
				<p>A taste of some of the amazing clients we work with. See our <a href="#">full client list</a>.</p>
			</div>
			
			<ul class="client-list">
				<li class="client-list__item">
					<img src="img/content/clients/north-tyneside-council.png" srcset="img/content/clients/north-tyneside-council@2x.png 2x" class="client-list__logo" alt="North Tyneside Council" />
				</li>
				<li class="client-list__item">
					<img src="img/content/clients/moneysupermarket.png" srcset="img/content/clients/moneysupermarket@2x.png 2x" class="client-list__logo" alt="Moneysupermarket.com" />
				</li>
				
				<li class="client-list__item">
					<img src="img/content/clients/homegroup.png" srcset="img/content/clients/homegroup@2x.png 2x" class="client-list__logo" alt="Home Group" />
				</li>
				<li class="client-list__item">
					<img src="img/content/clients/hewlett-packard.png" srcset="img/content/clients/hewlett-packard@2x.png 2x" class="client-list__logo" alt="Hewlett Packard" />
				</li>
				<li class="client-list__item">
					<img src="img/content/clients/morpeth-council.png" srcset="img/content/clients/morpeth-council@2x.png 2x" class="client-list__logo" alt="Morpeth Council" />
				</li>
			</ul>
		
		</div>
	</section>
	
	<section class="band band--primary">
		<div class="wrap">
			
<!--
			<div class="flexslider">
				<ul class="slides">
					<li>
-->
						<blockquote class="feature-quote">
							<p class="feature-quote__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							<footer class="feature-quote__cite">
								<img src="img/temp/avatars/avatar-james.jpg" class="feature-quote__avatar" />
								<p>James Hetfield, <span class="amp">Damage Inc.</span></p>
							</footer>
						</blockquote>
<!--
					</li>
					<li>
						<blockquote class="feature-quote">
							<p class="feature-quote__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							<footer class="feature-quote__cite">
								<img src="img/temp/avatars/avatar-james.jpg" class="feature-quote__avatar" />
								<p>James Hetfield, <span class="amp">Damage Inc.</span></p>
							</footer>
						</blockquote>
					</li>
				</ul>
			</div>
-->
			
		</div>
	</section>
	
	<section class="band">
		<div class="wrap">
			
			<div class="hgroup align-center">
				<h2>Case Studies</h2>
				<p>A small selection of the work we’ve done. Read more <a href="#">case studies</a>.</p>
			</div>
		
			<div class="h-feed featured-projects">
				<article class="h-entry">
					<a href="#" class="h-entry__image-link"><img src="img/interface/placeholder-image.png" class="u-featured" alt="No image uploaded" /></a>
					<h3 class="p-name"><a href="#">Hewlett Packard</a></h3>
					<p class="p-summary">Lorem ipsum dolor sit amet, consectetur elit sed do eiusmod tempor incididunt</p>
					<p><a href="#" class="arrow-link">Full case study</a></p>
				</article>
				<article class="h-entry">
					<a href="#" class="h-entry__image-link"><img src="img/interface/placeholder-image.png" class="u-featured" alt="No image uploaded" /></a>
					<h3 class="p-name"><a href="#">North tyneside Council</a></h3>
					<p class="p-summary">Lorem ipsum dolor sit amet, consectetur elit sed do eiusmod tempor incididunt</p>
					<p><a href="#" class="arrow-link">Full case study</a></p>
				</article>
				<article class="h-entry">
					<a href="#" class="h-entry__image-link"><img src="img/interface/placeholder-image.png" class="u-featured" alt="No image uploaded" /></a>
					<h3 class="p-name"><a href="#">Case Study #3</a></h3>
					<p class="p-summary">Lorem ipsum dolor sit amet, consectetur elit sed do eiusmod tempor incididunt</p>
					<p><a href="#" class="arrow-link">Full case study</a></p>
				</article>
			</div>
			
		</div>
	</section>
	
	<section class="band band--tint">
		<div class="wrap">
			
			<div class="hgroup align-center">
				<h2>Blog</h2>
				<p>The latest from our blog. View all <a href="#">blog posts</a>.</p>
			</div>
		
			<div class="h-feed featured-blog">
				<article class="h-entry">
					<a href="#" class="h-entry__image-link"><img src="img/interface/placeholder-image.png" class="u-featured" alt="No image uploaded" /></a>
					<h3 class="p-name"><a href="#">iCloud in plain English</a></h3>
					<time datetime="2016-09-24" class="dt-published">24th Sept 1015</time>
					<p class="p-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
				</article>
				<article class="h-entry">
					<a href="#" class="h-entry__image-link"><img src="img/interface/placeholder-image.png" class="u-featured" alt="No image uploaded" /></a>
					<h3 class="p-name"><a href="#">Top 10 IT Tips</a></h3>
					<time datetime="2016-09-24" class="dt-published">24th Sept 2016</time>
					<p class="p-summray">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
				</article>
			</div>
			
		</div>
	</section>
	
	<footer class="page-foot band--dark">
		<div class="wrap">
			
			<div class="grid">
				
				<div class="grid__item page-foot__about">
					
					<a href="#" class="page-foot__logo">
						<img src="img/interface/logo.png" alt="Wireforce logo" />
					</a>
					<p>Wireforce is a Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
					
				</div>
				
				<div class="grid__item page-foot__sitemap">
					
					<h4>Sitemap</h4>
					<ul>
						<li><a href="#">Services</a></li>
						<li><a href="#">Security</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				
				</div>
				
				<div class="grid__item page-foot__resources">
					
					<h4>Resources</h4>
					<ul>
						<li><a href="#">Documentation</a></li>
						<li><a href="#">FAQ's</a></li>
						<li><a href="#">Support</a></li>
					</ul>
				
				</div>
				
				<div class="grid__item page-foot__contact">
				
					<h4>Get in Touch</h4>
					<ul>
						<li><a href="#" rel="me">hello@wireforce.co.uk</a></li>
						<li><a href="#" rel="me">+44 (0) 191 234 5678</a></li>
					</ul>
					<h4>Be Social</h4>
					<ul>
						<li><a href="#" rel="me">Facebook</a></li>
						<li><a href="#" rel="me">Twitter</a></li>
						<li><a href="#" rel="me">Google+</a></li>
						<li><a href="#" rel="me">LinkedIn</a></li>
					</ul>
				
				</div>
				
			</div>
			
			<ul class="list-inline">
				<li>© Copyright 2016 <a href="#">Wireforce</a>. All Rights Reserved</li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Privacy Policy</a></li>
			</ul>
			
		</div>
	</footer>
	
	<script src="js/jquery-1.12.0.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/responsive-nav.js"></script>
	<script src="js/jquery.uniform.min.js"></script>
	<script src="js/jquery.fancybox.js"></script>
	<script src="js/waypoints.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
	
	</body>
</html>
