<!doctype html>
<html class="no-js" lang="en">
	
	<head>
		
		<title>Style Guide &middot; Wireforce</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Future&#38;Co.are an digital production company creating award winning work in film, animation, web and mobile for agencies and brands all over the world.">
		<meta name="author" content="Future&#38;Co. Ltd.">
		<meta name="robots" content="INDEX,FOLLOW">
		<meta name="apple-mobile-web-app-title" content="F&Co">

		<link rel="canonical" href="">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="css/main.css">

		<!-- Favicon -->
		<link rel="shortcut icon" type="image/ico" href="favicon.ico">
		<link rel="shortcut icon" href="favicon.png" sizes="32x32">

		<!--iOS -->
		<link rel="apple-touch-icon" href="/img/site/apple-touch-icon-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/site/apple-touch-icon-72x72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/site/apple-touch-icon-114x114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/site/apple-touch-icon-144x144-precomposed.png">

		<!-- Facebook/Twitter -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@futureandco">
		<meta name="twitter:url" property="og:url" content="https://futureandco.tv/">
		<meta name="twitter:title" property="og:title" content="Film Production, Website Design &#38; Development by Future&#38;Co.">
		<meta name="twitter:description" property="og:description" content="Future&#38;Co. are an integrated digital production company creating award winning work in film, animation, web and mobile for agencies and brands all over the world.">
		<meta name="twitter:image" property="og:image" content="https://futureandco.tv/img/site/social-logo.png">

		<!-- Windows -->
		<meta name="msapplication-TileColor" content="#0d0f0f">
		<meta name="msapplication-TileImage" content="/img/site/apple-touch-icon-144x144-precomposed.png">
		
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
		
		<!-- Script -->		
		<script src="js/modernizr-2.8.3.min.js"></script>
		
	</head>
    
    <body>
        
	<header class="page-head">
		<div class="wrap">
		
			<nav class="site-nav">
				<a href="#" class="page-head__logo">
					<img src="img/interface/logo.png" alt="Wireforce logo" />
				</a>
				<a href="#" id="site-nav__toggle">Menu</a>
				<ul class="site-nav__list">
					<li class="site-nav__item selected"><a href="#" class="site-nav__link">Services</a></li>
					<li class="site-nav__item"><a href="#" class="site-nav__link">Security</a></li>
					<li class="site-nav__item"><a href="#" class="site-nav__link">Blog</a></li>
					<li class="site-nav__item"><a href="#" class="site-nav__link">About</a></li>
					<li class="site-nav__item"><a href="#" class="site-nav__link">Contact</a></li>
				</ul>
			</nav>
			
		</div>
	</header>
	
    <div class="wrap">
        
        <!-- Alert Styles -->
			
		<div class="alert alert--success">
			<a href="##" title="TITLE TEXT." class="alert__close btn-close">Close</a>
			<h3 class="alert__title icon icon--happy">Success alert</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a href="#" title="TITLE TEXT.">commodo consequat</a>.</p>
		</div>
		
		<div class="alert">
			<a href="##" title="TITLE TEXT." class="alert__close btn-close">Close</a>
			<h3 class="alert__title icon icon--help">Neutral, default alert alert alert</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a href="#" title="TITLE TEXT.">commodo consequat</a>.</p>	
		</div>
		
		<div class="alert alert--error">
			<a href="##" title="TITLE TEXT." class="alert__close btn-close">Close</a>
			<h3 class="alert__title icon icon--sad">Big, fat, your a failure alert</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea <a href="#" title="TITLE TEXT.">commodo consequat</a>.</p>
			<ul>
				<li>Nulla pariatur excepteur sint.</li>
				<li>Velit esse cillum dolore eu fugiat.</li>
				<li>Occaecat cupidatat non proident.</li>
			</ul>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div>
		
		<!-- End Alert Styles -->
							
		<h1>Styleguide</h1>
		<p>A basic guide to semantic markup, including proper usage examples.</p>
	    
	    <p class="lead">For opening paragraphs a class of <code>lead</code> can be added, which enlarges the text. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit <a href="#" title="TITLE TEXT.">anim id est laborum</a>.</p>	
	
	    <h2>Header Examples</h2>
	    <p>The main page header of this guide is an <code>h1</code> element. Please reserve <code>h1</code> for individual page titles only.</p>
	    
	    <p>The header above is an <code>h2</code> element, which may be used for any form of page-level header which falls below the <code>h1</code> header in a document hierarchy. More than one may be used per page.</p>
	
	    <h3>Third-Level Header</h3>
	    <p>The header above is an <code>h3</code> element, which may be used for any form of page-level header which falls below the <code>h2</code> header in a document hierarchy. More than one may be used per page.</p>
	
	    <h4>Fourth-Level Header</h4>
	    <p>The header above is an <code>h4</code> element, which may be used for any form of page-level header which falls below the <code>h3</code> header in a document hierarchy. More than one may be used per page.</p>

	    <h2>Paragraphs</h2>
	    <p>All paragraphs are wrapped in <code>p</code> tags. Additionally, <code>p</code> elements can be wrapped with a <code>blockquote</code> element <em>if the <code>p</code> element is indeed a quote</em>. Historically, <code>blockquote</code> has been used purely to force indents, but this is now achieved using <abbr>CSS</abbr>. Reserve <code>blockquote</code> for quotes. Here&#8217;s an example of correct usage:</p>
	
	    <blockquote cite="http://en.wikiquote.org/wiki/Winston_Churchill">
	        <p>Indeed, it has been said that democracy is the worst form of government except all those other forms that have been tried from time to time.</p>
	        <footer>
	            <p><a href="http://en.wikiquote.org/wiki/Winston_Churchill">http://en.wikiquote.org/wiki/Winston_Churchill</a><p>
	        </footer>
	    </blockquote>
	
	    <p>Additionally, you might wish to cite the source, as in the above example. (The correct method involves the <code>cite</code> attribute directly applied to the <code>blockquote</code> element, but since no browser makes any use of that information whatsoever, it&#8217;s useful to also specify the standalone <code>footer</code> element as detailed at <a href="http://html5doctor.com/blockquote-q-cite/">html5doctor.com/blockquote-q-cite/</a>.)</p>
	
	    <h2>Inline Text</h2>
	    <p>You might have noticed all the monospaced text in this guide. There are a number of inline <abbr title="HyperText Markup Language">HTML</abbr> elements you may use anywhere within other elements, including <abbr title="Abbreviation">abbr</abbr>, <cite>cite</cite>, <code>code</code>, <del>del</del>, <em>em</em>, <ins>ins</ins>, <strong>strong</strong>, <var>var</var>, <sup>superscript</sup> and <sub>subscript</sub>.</p>
	    <dl>
	        <dt><abbr title="Abbreviation">abbr</abbr></dt>
	        <dd>Used for any abbreviated text, whether it be acronym, initialism, or otherwise. Generally, it&#8217;s less work and useful (enough) to mark up only the first occurence of any particular abbreviation on a page, and ignore the rest. Any text in the <code>title</code> attribute will appear when the user&#8217;s mouse hovers the abbreviation (although notably, this does not work in Internet Explorer for Windows). Example abbreviations and usage: <abbr title="National Aeronautics and Space Administration">NASA</abbr>, <abbr title="HyperText Markup Language">HTML</abbr>, and <abbr title="Massachusetts">Mass.</abbr></dd>
	        <dt><code>code</code></dt>
	        <dd>
	            <p>Used for computer code samples. Useful for technology-oriented sites, not so useful otherwise. Example code and usage:</p>
<pre><code>function getJelly() {
echo $aDeliciousSnack;
}</code>
</pre>
	            <p>With line numbers:</p>
	            <ol class="code">
	                <li><code>&lt;?php</code></li>
	                <li class="tab1"><code>echo 'Hello World!';</code></li>
	                <li><code>?&gt;</code></li>
	            </ol>
	            <p>Inline usage: just like elsewhere in this document, <abbr title="HyperText Markup Language">HTML</abbr> elements like <code>em</code> or <code>code</code> can be considered code, and marked up as such.</p>
	        </dd>
	        <dt><cite>cite</cite></dt>
	        <dd>Used for defining a citation or reference to other information sources. Example cited text and usage: More information can be found in <cite>[ISO-0000]</cite></dd>
	        <dt><del datetime="2005-05-30T13:00:00">del</del></dt>
	        <dd>Used for deleted or retracted text which still must remain on the page for some reason. Since the default style includes a strikethrough line, it&#8217;s preferable to the <code>s</code> element. The <code>del</code> element also has a <code>datetime</code> attribute which allows you to include a timestamp directly in the element. Example deleted text and usage: She bought <del datetime="2005-05-30T13:00:00">two</del> <ins datetime="2005-05-30T13:00:00">five</ins> pairs of shoes.</dd>
	        <dt><em>em</em></dt>
	        <dd>Used for denoting emphasized text. In most instances where you'd want to italicize text (using the <abbr title="HyperText Markup Language">HTML</abbr> element <code>i</code> or otherwise) you should use the <code>em</code> element instead. Notable exceptions are stylistic italicizing of proper titles, foreign languages, etc. where italicizing is used for differentiation instead of emphasis. In those cases, no proper <abbr title="HyperText Markup Language">HTML</abbr> elements exist, so an <code>i</code> element or a <code>span</code> element with a custom class may be preferable. Example emphasized text and usage: You simply <em>must</em> try the negitoro maki!</dd>
	        <dt><ins datetime="2005-05-30T13:00:00">ins</ins></dt>
	        <dd>Used for inserted text and counterpart to the <code>del</code> element. Like <code>del</code>, <code>ins</code> has a <code>datetime</code> attribute which allows you to include a timestamp directly in the element. Example inserted text and usage: She bought <del datetime="2005-05-30T13:00:00">two</del> <ins datetime="2005-05-30T13:00:00">five</ins> pairs of shoes.</dd>
	        <dt><kbd>kbd</kbd></dt>
	        <dd>Used for text which should be typed by the user. Mainly useful for computer instructions. Example keyboard text and usage: Please press <kbd>Enter</kbd> to continue.</dd>
	        <dt><q>q</q></dt>
	        <dd>
	            <p>Used for quoting inline. Example usage illustrating nested quotations:</p>
	            <p>John said, <q>I saw Lucy at lunch, she told me <q>Mary wants you to get some ice cream on your way home</q>. I think I will get some at Ben and Jerry&#8217;s, on Gloucester Road.</q></p>
	        </dd>
	        <dt><strong>strong</strong></dt>
	        <dd>Used for denoting stronger emphasis than the <code>em</code> element. In most instances where you'd want to bold text (using the <abbr title="HyperText Markup Language">HTML</abbr> element <code>b</code> or otherwise) you should use the <code>strong</code> element instead. Notable exceptions are stylistic bolding of examples, first occurences of names in an article, etc. where bolding is used for differentiation instead of emphasis. In those cases, no proper <abbr title="HyperText Markup Language">HTML</abbr> elements exist, so <code>b</code> element or a <code>span</code> element with a custom class may be preferable. Example strong text and usage: <strong>Don't</strong> stick nails in the electrical outlet.</dd>
	        <dt><var>var</var></dt>
	        <dd>Used for variables within computer code snippets. Useful for technology-oriented sites, not so useful otherwise. Example code and usage: Add 5 to <var>$result</var> and recalculate.</dd>
	    </dl>
	
	    <h2>Lists</h2>
	    <p>Then there are the lists. <code>ul</code> denotes an unordered list (ie. a list of loose items that don't require numbering, or a bulleted list). <code>ol</code> denotes an ordered list, and various numbering schemes are available through the <abbr>CSS</abbr> (including 1,2,3... a,b,c... i,ii,iii... and so on). Each item within the <code>ul</code> or <code>ol</code> requires a surrounding <code>&lt;li&gt;</code> and <code>&lt;/li&gt;</code> tag, to denote individual items within the list (as you may have guessed, <code>li</code> stands for list item).</p>
	    <p>Additionally, <code>dl</code> is another list type called a definition list. Instead of list items, the content of a <code>dl</code> consists of <code>dt</code> (Definition Term) and <code>dd</code> (Definition description) pairs. Though it may be called a "definition list", <code>dl</code> can apply to other scenarios where a parent/child relationship is applicable. For example, it may be used for marking up dialogues, with each <code>dt</code> naming a speaker, and each <code>dd</code> containing his or her words.</p>
	    <p>Example lists and usage:</p>
	    
	    <h3>Unordered list</h3>
	    <ul>
	        <li>This is an unordered list.</li>
	        <li>It has two items and this one is extra long to check line height. Take it away: Occaecat cupidatat non proident Occaecat cupidatat non proident Occaecat cupidatat non proident Occaecat cupidatat.</li>
	        <li>No, I lied, it has three.</li>
	    </ul>
	    
	    <h3>Unordered Nested List</h3>
	    <ul>
			<li>This is an unordered list.</li>
			<li>This is the second item, which is quite long: Ut labore et dolore magna aliqua Occaecat cupidatat non proident Occaecat cupidatat non proident Occaecat cupidatat non proident Occaecat cupidatat non proident.</li>
			<li>
				This is the third item, which has a nested <code>ul</code>.
				<ul>
					<li>First item of the nested list.</li>
					<li>Second item of the nested list.</li> 
					<li>The Third and last item of the nested list.</li>
				</ul>
			</li>
			<li>Now the nested list is closed, we're back to the 4th item.</li>
			<li>And the fifth.</li> 
			<li>...And the sixth and final item.</li>
		</ul>
		
		<h3>Ordered List</h3>
	    <ol>
	        <li>This is an ordered list.</li>
	        <li>It has two items and this one is extra long to check line height. Take it away: Occaecat cupidatat non proident Occaecat cupidatat non proident Occaecat cupidatat non proident Occaecat cupidatat.</li>
	        <li>No, I lied, it has three.</li>
	    </ol>
	    <h3>List containing block elements</h3>
	    <ul>
	        <li>
	            <p>Sometimes we want lists to contain block elements, like paragraphs. Phasellus condimentum venenatis eros ac condimentum.</p>
	        </li>
	        <li>
	            <p>Shall we do that again? This and the item above contain paragraphs. Text wrapped in <code>p</code> tags <em>- if you've not been paying attention</em>.</p>
	        </li>
	    </ul>
	    
	    <h3>Border List Styling</h3>
		<ul class="list-bordered">
			<li>Five CSS3 Media Query increments: 480, 600, 768, 992 and 1382px</li>
			<li>Design &#8216;atmosphere&#8217; (colour, texture and typography) separated from layout</li>
			<li>Styles for buttons, forms and tables compatible with <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</li>
			<li>Font-based icons from <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a></li>
			<li><a href="http://modernizr.com">Modernizr</a> and <a href="http://selectivizr.com">Selectivizr</a></li>
		</ul>
		
		<h3>Definition List</h3>
	    <dl>
	        <dt>This is a term.</dt>
	        <dd>This is the definition of that term, which both live in a <code>dl</code>.</dd>
	        <dt>Here is another term.</dt>
	        <dd>And it gets a definition too, which is this line.</dd>
	        <dt>Here is term that shares a definition with the term below.</dt>
	        <dt>Here is a defined term.</dt>
	        <dd><code>dt</code> terms may stand on their own without an accompanying <code>dd</code>, but in that case they <em>share</em> descriptions with the next available <code>dt</code>. You may not have a <code>dd</code> without a parent <code>dt</code>.</dd>
	    </dl>
	 			
	    <h2>Tables</h2>
	    <p>Tables should be used when displaying tabular data. The <code>thead</code>, <code>tfoot</code> and <code>tbody</code> elements enable you to group rows within each a table.</p>
	    <p>If you use these elements, you must use every element. They should appear in this order: <code>thead</code>, <code>tfoot</code> and <code>tbody</code>, so that browsers can render the foot before receiving all the data. You must use these tags within the table element.</p>
	    <table class="table-striped">
	        <thead>
	            <tr>
	                <th scope="col">Ingredients</th>
	                <th scope="col">Serves 12</th>
	                <th scope="col">Serves 24</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	                <td>Milk</td>
	                <td>1 quart</td>
	                <td>2 quart</td>
	            </tr>
	            <tr>
	                <td>Cinnamon Sticks</td>
	                <td>2</td>
	                <td>1</td>
	            </tr>
	            <tr>
	                <td>Vanilla Bean, Split</td>
	                <td>1</td>
	                <td>2</td>
	            </tr>
	            <tr>
	                <td>Cloves</td>
	                <td>5</td>
	                <td>10</td>
	            </tr>
	            <tr>
	                <td>Mace</td>
	                <td>10 blades</td>
	                <td>20 blades</td>
	            </tr>
	            <tr>
	                <td>Egg Yolks</td>
	                <td>12</td>
	                <td>24</td>
	            </tr>
	            <tr>
	                <td>Cups Sugar</td>
	                <td>1 &frac12; cups</td>
	                <td>3 cups</td>
	            </tr>
	            <tr>
	                <td>Dark Rum</td>
	                <td>1 &frac12; cups</td>
	                <td>3 cups</td>
	            </tr>
	            <tr>
	                <td>Brandy</td>
	                <td>1 &frac12; cups</td>
	                <td>3 cups</td>
	            </tr>
	            <tr>
	                <td>Vanilla</td>
	                <td>1 tbsp</td>
	                <td>2 tbsp</td>
	            </tr>
	            <tr>
	                <td>Half-and-half or Light Cream</td>
	                <td>1 quart</td>
	                <td>2 quart</td>
	            </tr>
	            <tr>
	                <td>Freshly grated nutmeg to taste</td>
	                <td>-</td>
	                <td>-</td>
	            </tr>
	        </tbody>
	    </table>
	    			    
	    <h2>Forms</h2>										
	    					    
	    <h3>Bordered/Horizontally Aligned Forms</h3>
	    
	    <p>For a form to display with a surrounding border, a <code>fieldset</code> must be added inside the <code>form</code> element. If the form needs to display horizontally aligned a class of <code>form-horz</code> should be added to the form.</p>
		
		<form> 
			
			<h2 class="form-title">Form Heading <small>(if small tag is added)</small></h2>
			<p>Short paragraph of text if needed...</p>
			
			<div class="form-group">
				<label class="label form-group__title">Username <span class="required">*</span></label>
				<div class="form-group__controls">
					<input type="text" class="text-input" />
				</div>
			</div>
			<div class="form-group error">
				<label class="label form-group__title">Enter a valid email address <span class="required">*</span></label>
				<div class="form-group__controls">
					<input type="text" class="text-input" placeholder="Error placeholder colour if used" />
				</div>
				<p class="error__text">Text telling the user how to correct the error.</p>
			</div>
			<div class="form-group">
				<label class="label form-group__title">Some other input with a really, really long title</label>
				<div class="form-group__controls">
					<input type="text" class="text-input" placeholder="You can add a value if needed..." />
				</div>
			</div>
			<div class="form-group">
				<label class="label form-group__title">Textarea <span class="required">*</span></label>
				<div class="form-group__controls">
					<textarea rows="4" class="text-input" placeholder="Type your message here..."></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="label form-group__title">Something that involves a dropdown</label>
				<div class="form-group__controls">
					<select>
						<option value="One">Please choose an option...</option>
						<option value="Two">Something quite long</option>
						<option value="Three">Something really, really, really, really, really, really, long</option>
						<option value="Four">Four</option>
						<option value="Five">Five</option>
						<option value="Six">Six</option>
						<option value="Seven">Seven</option>
					</select>
				</div>
			</div>
			<div class="form-group">   
				<label class="label form-group__title">Checkboxes</label>
				<div class="form-group__controls">				
					<label class="checkbox"><input type="checkbox" />Option One</label>
					<label class="checkbox"><input type="checkbox" />Option Two</label>
					<label class="checkbox"><input type="checkbox" />Option Three</label>
				</div>
			</div>  
			<div class="form-group">                
				<label class="label form-group__title">Radio Buttons</label>
				<div class="form-group__controls">
					<label class="radiobtn"><input type="radio" name="radio" />Option One</label>
					<label class="radiobtn"><input type="radio" name="radio" />Option Two</label>
					<label class="radiobtn"><input type="radio" name="radio" />Option Three</label>
				</div>
			</div>
			<div class="form-group">
				<label class="label form-group__title">Upload Your File</label>
				<div class="form-group__controls">
					<input type="file" /> 
				</div>
			</div>  
			
			<div class="form-group form-group--btns">
				<a href="#" title="TITLE TEXT." class="btn">Anchor</a>
				<button class="btn btn--green">Button</button>
			</div>
			
		</form>
		
		<form class="form-horz">
		
			<fieldset>
			
				<h2 class="form-title">Fieldset Heading</h2>
				
				<p>Short paragraph of text if needed...</p>
				
				<div class="form-group">
					<label class="label form-group__title">Username <span class="required">*</span></label>
					<div class="form-group__controls">
						<input type="text" class="text-input" />
					</div>
				</div>
				<div class="form-group error">
					<label class="label form-group__title">Enter a valid email address <span class="required">*</span></label>
					<div class="form-group__controls">
						<input type="text" class="text-input" placeholder="Error placeholder colour if used" />
					</div>
					<p class="error__text">Text telling the user how to correct the error.</p>
				</div>
				<div class="form-group">
					<label class="label form-group__title">Something that involves a dropdown</label>
					<div class="form-group__controls">
						<select>
							<option value="One">Please choose an option...</option>
							<option value="Two">Something quite long</option>
							<option value="Three">Something really, really, really, really, really, really, long</option>
							<option value="Four">Four</option>
							<option value="Five">Five</option>
							<option value="Six">Six</option>
							<option value="Seven">Seven</option>
						</select>
					</div>
				</div>
			
			</fieldset>
			
			<fieldset>
			
				<h3 class="form-title">Fieldset Heading</h3>
				
				<div class="form-group">
					<label class="label form-group__title">Some other input with a really, really long title</label>
					<div class="form-group__controls">
						<input type="text" class="text-input" placeholder="You can add a value if needed..." />
					</div>
				</div>
				<div class="form-group">
					<label class="label form-group__title">Textarea <span class="required">*</span></label>
					<div class="form-group__controls">
						<textarea rows="4" class="text-input" placeholder="Type your message here..."></textarea>
					</div>
				</div>
				<div class="form-group">
					<label class="label form-group__title">Something that involves a dropdown</label>
					<div class="form-group__controls">
						<select>
							<option value="One">Please choose an option...</option>
							<option value="Two">Something quite long</option>
							<option value="Three">Something really, really, really, really, really, really, long</option>
							<option value="Four">Four</option>
							<option value="Five">Five</option>
							<option value="Six">Six</option>
							<option value="Seven">Seven</option>
						</select>
					</div>
				</div>
			
			</fieldset>
			
			<fieldset>
				
				<div class="form-group form-group--btns">
					<button class="btn">Button</button>
					<a href="#" title="TITLE TEXT." class="btn">Anchor</a>
					<a href="#" title="TITLE TEXT." class="btn btn--green">Alternate Anchor</a>
				</div>
			
			</fieldset>
	
		</form>
		
	</div>
		
	<footer class="page-foot band--dark">
		<div class="wrap">
			
			<div class="grid">
				
				<div class="grid__item page-foot__item page-foot__item--about">
					
					<a href="#" class="page-foot__logo">
						<img src="img/interface/logo.png" alt="Wireforce logo" />
					</a>
					<p>Wireforce is a Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
					
				</div>
				
				<div class="grid__item page-foot__item page-foot__item--sitemap">
					
					<h3 class="page-foot__title">Sitemap</h3>
					<ul>
						<li><a href="#">Services</a></li>
						<li><a href="#">Security</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				
				</div>
				
				<div class="grid__item page-foot__item page-foot__item--resources">
					
					<h3 class="page-foot__title">Resources</h3>
					<ul>
						<li><a href="#">Documentation</a></li>
						<li><a href="#">FAQ's</a></li>
						<li><a href="#">Support</a></li>
					</ul>
				
				</div>
				
				<div class="grid__item page-foot__item page-foot__item--contact">
				
					<h3 class="page-foot__title">Get in Touch</h3>
					<ul class="contact-list">
						<li><a href="#" rel="me" class="icon icon--mail">hello@wireforce.co.uk</a></li>
						<li><a href="#" rel="me" class="icon icon--phone">+44 (0) 191 234 5678</a></li>
					</ul>
					<h3 class="page-foot__title">Be Social</h3>
					<ul class="social-list">
						<li><a href="#" rel="me" class="icon icon--facebook">Facebook</a></li>
						<li><a href="#" rel="me" class="icon icon--twitter">Twitter</a></li>
						<li><a href="#" rel="me" class="icon icon--google">Google+</a></li>
						<li><a href="#" rel="me" class="icon icon--linkedin">LinkedIn</a></li>
					</ul>
				
				</div>
				
			</div>
			
			<ul class="page-foot__legal">
				<li class="copyright">© Copyright 2016 <a href="#">Wireforce</a>. All Rights Reserved</li>
				<li><a href="#">Terms of Use</a></li>
				<li><a href="#">Privacy Policy</a></li>
			</ul>
			
		</div>
	</footer>
        
	<script src="js/jquery-1.12.0.min.js"></script>
	<script src="js/responsive-nav.js"></script>
	<script src="js/jquery.uniform.min.js"></script>
	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
		
	</body>

</html>