@charset "UTF-8";
/*------------------------------------*\
    #BASE
\*------------------------------------*/
/**
 * Variables and mixins.
 */
/*------------------------------------*\
    #PALETTES
\*------------------------------------*/
/**
 * Greyscale.
 */
/**
 * Primary (sky blue).
 */
/**
 * Secondary (navy blue).
 */
/**
 * Useful alert colours (traffic light).
 */
/*------------------------------------*\
    #BASICS
\*------------------------------------*/
/**
 * Body styles.
 */
/**
 * Margins/spacing.
 */
/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
/**
 * Base type styles.
 */
/**
 * Headings.
 */
/**
 * Alt fonts.
 */
/**
 * Extra type variables
 */
/*------------------------------------*\
    #COLOUR
\*------------------------------------*/
/**
 * Base.
 */
/**
 * Texture.
 */
/**
 * Links.
 */
/*------------------------------------*\
    #TEXTURE
\*------------------------------------*/
/**
 * Alert base styles.
 */
/**
 * Error alerts.
 */
/**
 * Info alerts.
 */
/**
 * Success alerts.
 */
/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/**
 * Base button styles.
 */
/**
 * Primary button styles.
 */
/**
 * Neutral (grey) button styles.
 */
/*------------------------------------*\
    #TABLES
\*------------------------------------*/
/**
 * Base table styles.
 */
/*------------------------------------*\
    #FORMS
\*------------------------------------*/
/**
 * Inputs.
 */
/**
 * Placeholders.
 */
/*------------------------------------*\
    #MIXINS
\*------------------------------------*/
/**
 * Clearfix
 */
/**
 * Typography
 */
/**
 * CSS Reset.
 */
/*------------------------------------*\
    #RESET
\*------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

/**
 * Site wide styles (html, body)
 */
/*------------------------------------*\
    #ROOT
\*------------------------------------*/
/**
 * Viewports.
 */
@-webkit-viewport {
  width: device-width; }
@-moz-viewport {
  width: device-width; }
@-ms-viewport {
  width: device-width; }
@-o-viewport {
  width: device-width; }
@viewport {
  width: device-width; }
/**
 * Base `html` styling.
 */
html {
  background: white;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/**
 * Base `body` styling.
 */
body {
  color: #80949d;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  width: 100%; }

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/
/**
 * Block level (h1, p) and text-level (em, strong) type.
 */
/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
/**
 * Base styling for heading elements.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b3438;
  font-family: inherit;
  font-weight: 700;
  margin: 0 0 10px;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
  vertical-align: top; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: #2b3438; }
    h1 a:visited,
    h2 a:visited,
    h3 a:visited,
    h4 a:visited,
    h5 a:visited,
    h6 a:visited {
      color: #2b3438; }
    h1 a:hover, h1 a:focus,
    h2 a:hover,
    h2 a:focus,
    h3 a:hover,
    h3 a:focus,
    h4 a:hover,
    h4 a:focus,
    h5 a:hover,
    h5 a:focus,
    h6 a:hover,
    h6 a:focus {
      color: #e5531b; }

h1 small,
h2 small {
  color: #3c4448;
  font-weight: normal; }

h1,
.h1 {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 1.2; }

h2,
.h2 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2; }

h3,
.h3 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.3; }

h4,
.h4 {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.25; }

h5,
.h5 {
  font-size: 14px;
  font-size: 1.4rem; }

h6,
.h6 {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 1.6em;
  text-transform: uppercase; }

/**
 * A class of `.hgroup` can be used to group a title + supporting text. An icon
 * can be used as a background-image to the left of the content of an `.hgroup`.
 * To do this extend this object with a `.hgroup--*` skin class.
 */
.hgroup {
  margin: 0 0 60px; }

/*------------------------------------*\
    #PARAGRAPH
\*------------------------------------*/
/**
 * Base paragraph rules. In this instance `font-size` & `line-height` are
 * inherited from _site.scss.
 */
p {
  margin-bottom: 20px; }

/**
 * Styling for a leading paragraphs.
 */
.lead {
  color: #9dacb3;
  font-size: 20px;
  font-size: 2rem;
  font-style: italic;
  line-height: 1.6em; }

small {
  font-size: .85em; }

/*------------------------------------*\
    #LISTS
\*------------------------------------*/
/**
 * Base styling for ordered/unordered lists. The `font-size` & `line-height` are
 * inherited from _site.scss.
 *
 * 1) Specify a different bullet point for list-items within .`alert` elements
 *    as they use coloured backgrounds.
 */
ul,
ol {
  list-style-position: inside;
  margin: 0 0 20px 0;
  padding: 0 0 0 20px; }

li {
  margin-bottom: 5px; }

ul {
  list-style: none; }
  ul > li {
    background: url(../img/interface/bullet.png) no-repeat left 8px;
    padding-left: 15px; }
    .alert ul > li {
      background-image: url(../img/interface/bullet-white.png);
      /* [1] */ }

li ul,
li ol {
  margin: 0;
  padding: 5px 0 0 10px; }

/**
 * Adds a bottom border as horizontal rule between each list-item.
 */
.list-bordered {
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0; }
  .list-bordered li {
    background: none;
    border-bottom: 2px solid #3c4448;
    margin-bottom: 10px;
    padding: 0 0 10px; }
    .list-bordered li:last-child {
      border-bottom: 0;
      padding-bottom: 0; }

/**
 * Display list-items inline with a margin-right for spacing. Background-image
 * is removed.
 */
.list-inline {
  padding-left: 0; }
  .list-inline li {
    background: none;
    display: inline-block;
    margin-right: 20px;
    padding-left: 0; }

/*------------------------------------*\
    #DEFINITION LISTS
\*------------------------------------*/
/**
 * Base styling for definition lists. The `font-size` & `line-height` are
 * inherited from _site.scss.
 */
dl,
dd {
  margin-bottom: 20px; }

dt {
  color: #2b3438;
  font-weight: bold; }

/**
 * Inline definition list.
 */
.dl-inline {
  *zoom: 1;
  margin-bottom: 15px; }
  .dl-inline:before, .dl-inline:after {
    content: "";
    display: table; }
  .dl-inline:after {
    clear: both; }
  .dl-inline dt {
    clear: left;
    float: left;
    margin: 0 10px 5px 0; }
  .dl-inline dd {
    margin-bottom: 5px; }

/*------------------------------------*\
    #QUOTES
\*------------------------------------*/
/*
 * Resets for `blockquote` and inline paragraph `q` element.
 */
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

cite {
  font-style: normal; }

/**
 * Base styling for `blockquote` element.
 */
blockquote {
  margin: 20px 0 40px;
  padding: 0 40px 0 60px;
  text-align: center; }
  blockquote p {
    color: #faddd1;
    font-size: 24px;
    font-size: 2.4rem;
    font-weight: 300;
    line-height: 1.28em; }
  blockquote > p:first-child:before, blockquote > p:last-of-type:after {
    background: url(../img/interface/quotemarks.png) no-repeat left top;
    content: "";
    display: inline-block;
    height: 23px;
    margin: 0 9px 0 -30px;
    position: relative;
    top: -5px;
    width: 21px; }
  blockquote > p:last-of-type:after {
    background-position: right top;
    margin: 5px 0 0 5px;
    position: absolute;
    top: auto; }
  blockquote footer p {
    font-size: 16px;
    font-size: 1.6rem; }

/**
 * Base styling for `blockquote` element.
 */
.feature-quote {
  margin-bottom: 20px;
  padding-top: 5px;
  text-align: left; }

.feature-quote footer p {
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 0;
  flex: 0 1 auto; }
  .feature-quote footer p .amp {
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 1.6em;
    display: block; }

.no-flexbox .feature-quote footer p {
  display: inline-block;
  vertical-align: middle; }

.feature-quote__cite {
  display: flex;
  align-items: center;
  margin-top: 20px; }

.feature-quote__avatar {
  background: #ea7549;
  border: 5px solid #ea7549;
  border-radius: 100%;
  display: inline-block;
  height: 50px;
  margin-right: 10px;
  width: 50px; }

/*------------------------------------*\
    #MISC
\*------------------------------------*/
/*
 * Text-level.
 */
address {
  margin-bottom: 20px; }

abbr[title] {
  border-bottom: 1px dotted #3c4448;
  cursor: help; }

dfn {
  font-style: italic; }

ins {
  text-decoration: underline; }

mark {
  background-color: white;
  color: #80949d;
  font-style: italic;
  font-weight: bold; }

/*
 * Strong (bold), emphasized (italic) and small text.
 */
b,
strong {
  font-weight: 600; }

i,
em {
  font-style: italic; }

small {
  font-size: .8em; }

/*
 * Class of `.amp` can be used to subtly darken/emphasize text.
 */
.amp {
  color: #2b3438; }

/*
 * Code.
 */
pre,
code {
  font-family: Monaco, Courier New, monospace;
  line-height: 1.6em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

code {
  color: #2ea0ff; }

/*
 * Superscript/subscript.
 */
sub,
sup {
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  position: relative; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

/*------------------------------------*\
    #COLOUR
\*------------------------------------*/
/**
 * Colour interaction semantics.
 */
/*------------------------------------*\
    #COLOUR
\*------------------------------------*/
/**
 * Default anchor styling.
 */
a {
  color: #e5531b;
  text-decoration: none;
  transition: color .25s; }
  a:visited {
    color: #e5531b; }
  a:hover {
    color: #2b3438; }
  a:focus {
    outline: thin dotted;
    color: #2b3438; }
  a:hover, a:active {
    outline: 0; }

/**
 * Highlighted styles.
 */
::-moz-selection {
  background-color: white;
  color: #2ea0ff;
  text-shadow: none; }

::selection {
  background-color: white;
  color: #2ea0ff;
  text-shadow: none; }

/*------------------------------------*\
    #ELEMENTS
\*------------------------------------*/
/**
 * Button styles.
 */
/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/**
 * Default styling for buttons. Extend this object with a `.btn--*` skin class
 * to change background-color, size or apply a relevant icon preceding the text.
 *
 * 1. Add a left margin when to any `.btn` that follows another.
 */
.btn {
  background-color: #2b3438;
  background-repeat: no-repeat;
  border: 0;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  *margin-left: .3em;
  padding: 0 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .25s;
  vertical-align: middle; }
  .btn:before {
    /* [1] */
    margin-left: -5px; }
  .btn:visited {
    background-color: #2b3438;
    color: white; }
  .btn:hover, .btn:focus {
    background-color: #20272a;
    box-shadow: inset 0 -2px 0 #15191b;
    color: white;
    outline: 0;
    text-decoration: none; }
  .btn:active {
    box-shadow: none;
    top: 1px; }
  .btn + .btn {
    margin-left: 5px;
    /* [1] */ }

/**
 * For disabled buttons use a class of `.btn--disabled` which lowers opacity and
 * changes the cursor. Extends `.btn`.
 */
.btn--disabled {
  cursor: default;
  opacity: .50; }

/**
 * Alternative button skins. Extends `.btn`.
 */
.btn--primary {
  background-color: #e5531b;
  box-shadow: inset 0 -2px 0 #cf4a18; }
  .btn--primary:visited {
    background-color: #e5531b; }
  .btn--primary:hover, .btn--primary:focus {
    background-color: #cf4a18;
    box-shadow: inset 0 -2px 0 #b84215; }
  .btn--primary:active {
    box-shadow: none; }

.btn--neutral {
  background-color: #80949d;
  box-shadow: inset 0 -2px 0 #728892; }
  .btn--neutral:visited {
    background-color: #80949d; }
  .btn--neutral:hover, .btn--neutral:focus {
    background-color: #728892;
    box-shadow: inset 0 -2px 0 #667b84; }
  .btn--neutral:active {
    box-shadow: none; }

/**
 * Alternative button sizes. Extends `.btn`.
 */
.btn--large {
  font-size: 20px;
  font-size: 2rem; }
  .btn--large:before {
    font-size: 110%; }

.btn--small {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 16px;
  padding: 5px 12px 6px; }
  .btn--small:before {
    font-size: 110%;
    margin-left: -3px; }

.btn--xsmall {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 15px;
  padding: 4px 10px 5px; }
  .btn--xsmall:before {
    font-size: 110%;
    margin-left: -3px; }

/*------------------------------------*\
    #CLOSE BUTTON (generic)
\*------------------------------------*/
/**
 * Close 'x' button - used throughout for tooltips & alerts.
 */
.btn-close {
  background: url(../img/sprite/btn-close.png) no-repeat 0 -60px;
  border: none;
  border-radius: 100%;
  display: block;
  float: right;
  height: 20px;
  margin: 0 0 10px 10px;
  overflow: hidden;
  text-indent: -9999px;
  transition: all .25s ease-in;
  width: 20px; }
  .btn-close:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transform: rotate(90deg); }

/**
 * Figures, images and other elements.
 */
/*------------------------------------*\
    #HR
\*------------------------------------*/
/**
 * Base `hr` styling.
 */
hr {
  border: 0;
  border-top: 1px solid #3c4448;
  border-bottom: 1px solid white;
  display: block;
  height: 1px;
  margin: 40px 0;
  padding: 0; }

/*------------------------------------*\
    IMAGES
\*------------------------------------*/
/**
 * Base `img` styling.
 */
img {
  border-width: 0;
  vertical-align: middle;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

/**
 * `figure` and `figcatpion`.
 */
figure {
  margin-bottom: 20px; }
  figure img {
    margin-bottom: 5px; }
  figure figcaption {
    color: #3c4448;
    display: block;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: normal; }

/**
 * Standard form controls.
 */
/*------------------------------------*\
    #FORMS
\*------------------------------------*/
/**
 * Base `form` styling.
 *
 * 1. Adjust `.btn` margins to match that of other form elements.
 */
form {
  margin: 0 0 20px 0;
  position: relative; }
  form .btn {
    margin-bottom: 10px;
    /* [1] */ }

/**
 * Base `fieldset` styles.
 *
 * 1. Remove bottom margin from the last fieldset for consistent spacing.
 */
fieldset {
  background: #e6eaeb;
  border-width: 0;
  box-sizing: border-box;
  margin-bottom: 4px;
  padding: 20px 20px 0;
  width: 100%;
  *width: auto; }
  fieldset:last-child {
    margin-bottom: 0;
    /* [1] */ }

/**
 * The main form heading (don't use `legend`).
 *
 * 1. Reduce space between heading and following paragraph (if there is one).
 */
.form-title {
  margin-bottom: 20px; }
  .form-title small {
    color: #9dacb3;
    font-weight: 400; }
  .form-title + p {
    margin: -16px 0 20px;
    /* [1] */ }

/**
 * `.form-group` is used to group labels and inputs/form elements together.
 *
 * 1. All margins are equal for consistency.
 * 2. `Clearfix` is applied to prevent margin collapse, helping with spacing
 *    consistency. And also for when a class of `.form-horz` is used to present
 *    the label and controls horizontally aligned which is achieved using floats
 *    and extended in _768.scss.
 * 3. When a class of `.error` is applied we adjust the colouring of text/input
 *    elements so it stands out, drawing the users attention to where they've
 *    made a mistake entering data on the form.
 */
.form-group,
.form-group__title,
.form-group__controls {
  margin-bottom: 10px;
  /* [1] */ }

.form-group {
  *zoom: 1;
  /* [2] */ }
  .form-group:before, .form-group:after {
    content: "";
    display: table; }
  .form-group:after {
    clear: both; }
  .form-group.error {
    /* [3] */ }
    .form-group.error .form-group__title,
    .form-group.error .error__text,
    .form-group.error .required {
      color: #d22942; }
    .form-group.error textarea,
    .form-group.error .textfield {
      border-color: #bd253b;
      background-color: #f6d1d6;
      box-shadow: inset 2px 2px 0 #eea6b1;
      color: #d22942; }
    .form-group.error ::-webkit-input-placeholder {
      color: #e57c8b; }
    .form-group.error ::-moz-placeholder {
      color: #e57c8b; }

/**
 * Extends `.form-group` for more control over groups of buttons usually located
 * at the foot of form/fieldsets.
 */
.form-group--btns {
  text-align: right; }

/**
 * `.form-group__title` is applied to a label (title) to the group of controls.
 */
.form-group__title {
  color: #2b3438;
  font-size: 16px;
  font-size: 1.6rem; }

/**
 * `.form-group__controls` is used to contain elements that require action, for
 * example inputs, textareas, radio/checkboxes and selects.
 *
 * 1. Paragraph margins are adjusted to match that of the form elements.
 */
.form-group__controls {
  *zoom: 1; }
  .form-group__controls:before, .form-group__controls:after {
    content: "";
    display: table; }
  .form-group__controls:after {
    clear: both; }
  .form-group__controls p {
    margin-bottom: 10px;
    /* [1] */ }

/**
 * Base form element styling.
 */
label,
input,
button,
select,
textarea {
  font-size: 16px;
  font-size: 1.6rem;
  vertical-align: baseline;
  *vertical-align: middle; }

/**
 * Base label element styling.
 * An asterisk can be used with a class of `.required` for mandatory fields.
 */
label {
  color: #80949d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  margin-bottom: 10px; }
  label input,
  label textarea,
  label select {
    display: block; }

.required {
  color: #e5531b;
  font-weight: 600; }

/**
 * Default textfield & textarea styling.
 *
 * 1. Removes default iOS input shadow.
 * 2. Textfield/areas have a default width of 100% but we have some handy preset
 *    classes that can be applied to set fixed (smaller) widths.
 */
textarea,
.textfield {
  background-color: white;
  box-shadow: inset 3px 3px 0 #e6eaeb;
  box-sizing: border-box;
  border: 2px solid #3c4448;
  color: #80949d;
  display: inline-block;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  padding: 0 10px;
  transition: border-color .25s;
  width: 100%;
  -webkit-appearance: none;
  /* [1] */
  /* [2] */
  /* [2] */ }
  textarea:hover,
  .textfield:hover {
    border-color: #252a2c; }
  textarea:focus,
  .textfield:focus {
    border-color: #0e0f10;
    outline: 0;
    outline: thin dotted \9; }
  textarea.input-mini,
  .textfield.input-mini {
    width: 65px; }
  textarea.input-small,
  .textfield.input-small {
    width: 100px; }

textarea {
  height: auto;
  overflow: auto;
  padding: 10px;
  resize: vertical;
  vertical-align: top; }

/**
 * Text input placeholder styling.
 */
::-webkit-input-placeholder {
  color: #80949d;
  font-size: 16px;
  font-size: 1.6rem;
  font-style: italic; }

::-moz-placeholder {
  color: #80949d;
  font-size: 16px;
  font-size: 1.6rem;
  font-style: italic; }

/**
 * Default file type `input` styling. Extended in _uniform.scss.
 * Font-size/lineh-eight is only really there to align text/input in Chrome.
 * when javascript is disabled.
 */
input[type="file"] {
  font-size: 13px;
  font-size: 1.3rem;
  line-height: 13px; }

/**
 * Default `select` styling. Extended in _uniform.scss.
 */
select {
  width: 100%; }

/**
 * Default `checkbox` & `radio` styling. Extended in _uniform.scss.
 *
 * 1. Styling when javascript is disabled is extended within `.no-js {}`.
 */
.no-js {
  /* [1] */ }
  .no-js .radiobtn,
  .no-js .checkbox {
    padding-left: 20px; }
  .no-js .radiobtn input[type="radio"],
  .no-js .checkbox input[type="checkbox"] {
    float: left;
    margin: 4px 0 0 -20px; }

/**
 * Tables.
 */
/*------------------------------------*\
    #TABLES
\*------------------------------------*/
/**
 * Default `table` styling. These default rules can be extended with a
 * `.table-*` skin class.
 *
 * 1. `calc` is not interpreted correctly in IE9 when set on a `display: table`
 *    element. So I've used the `\9` hack so 100% is only set on IE9 and below.
 * 2. To ensure even spacing in each table-cell margin-bottom is remove from any
 *    last element.
 */
table {
  background-color: transparent;
  border-collapse: separate;
  border-spacing: 0 2px;
  margin: -2px -2px 20px;
  table-layout: fixed;
  width: calc(100% + 4px);
  width: 100% \9;
  /* [1] */ }
  table :last-child {
    /* [2] */
    margin-bottom: 0; }

th,
td {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.6em;
  padding: 15px 20px;
  text-align: left;
  vertical-align: top; }

/**
 * 1. If a table has sortable columns you can add a visual hint to this by
 *    adding up/down arrows.
 * 2. ...then show whether ascending/descending ordering is active by adding an
 *    additional `.ascending` or `.descending` class.
 * 3. Change vertical alignment to keep up/down arrows consistently alongside
 *    text when it wraps. When aligned to the bottom sometimes arrows float in
 *    white space if the text wraps by different amounts in each `th`.
 */
th {
  color: #2b3438;
  font-weight: 600;
  /* [2] */
  /* [2] */ }
  thead th {
    font-size: 16px;
    font-size: 1.6rem;
    padding-top: 0;
    vertical-align: bottom; }
  th.order {
    /* [1] */
    background: url(../img/sprite/table-order.png) no-repeat 20px -94px;
    cursor: pointer;
    padding-left: 35px;
    vertical-align: top;
    /* [3] */ }
  th.order--ascending {
    background-position: 20px 6px; }
  th.order--descending {
    background-position: 20px -194px; }

td {
  background-color: #e6eaeb;
  transition: background .25s; }

/**
 * Table row 'hover' styling.
 */
tbody td,
tbody th {
  transition: background-color .25s 0 linear; }

tbody > tr:hover > td,
tbody > tr:hover > th {
  background-color: #d8dee0; }

/**
 * Use `.table-condensed` to reduce cell padding for tighter layouts.
 */
.table-condensed th,
.table-condensed td {
  padding: 5px 20px; }
  thead .table-condensed th, thead
  .table-condensed td {
    padding-top: 0; }

/**
 * Use `.table-bordered` to add a border to every edge of the table/cells.
 */
.table-bordered {
  border-spacing: 2px; }

/**
 * Use `.table-inverted` to change cell background-color to white. Mainly used
 * when a table is placed within in a light grey `.boxout` element to make cell
 * backgrounds visible again.
 */
.table-inverted tbody th,
.table-inverted tbody td {
  background: white; }
.table-inverted tbody > tr:hover td,
.table-inverted tbody > tr:hover th {
  background-color: #fcfcfc; }

/**
 * Use `.table-striped` to add a background to table cells but only those within
 * 'odd' table rows to create a striped effect.
 */
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #e6eaeb; }

/*

table {
	
	td {
		display: block;
		padding: $baseline/2 $baseline 0;
		
		&:last-child {
			padding-bottom: $baseline/2;
		}
	}
}
*/
/**
 * Plug-ins (jQuery-UI, Uniform.js, Fancybox, Flexslider).
 */
/*------------------------------------*\
    #UNIFORM.JS
\*------------------------------------*/
/**
 * General settings.
 */
.selector,
.checker,
.radio,
.uploader {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* Keeping this as :focus to remove browser styles */ }

.selector:focus,
.checker:focus,
.radio:focus,
.uploader:focus {
  outline: 0; }

/**
 * Remove default webkit and possible mozilla .search styles. Keeping this as
 * `:active` to remove browser styles.
 */
.checker input,
input[type="search"],
input[type="search"]:active {
  -moz-appearance: none;
  -webkit-appearance: none; }

/**
 * `select` replacement styling.
 */
.selector {
  background: #3c4448 url(../img/sprite/form-inputs.png) no-repeat right -80px;
  border: 2px solid #3c4448;
  box-sizing: border-box;
  font-size: 16px;
  font-size: 1.6rem;
  font-style: italic;
  height: 40px;
  line-height: 38px;
  overflow: hidden;
  margin-bottom: 10px;
  padding-right: 38px;
  position: relative;
  width: 100%; }
  .selector span {
    background-color: #1d2326;
    color: #80949d;
    cursor: pointer;
    display: block;
    height: 100%;
    overflow: hidden;
    padding: 0 15px 0 10px;
    text-overflow: ellipsis;
    transition: all .25s;
    white-space: nowrap; }
  .selector:hover span {
    background-color: #3c4448;
    color: white; }
  .selector select {
    border: none;
    cursor: pointer;
    height: 100%;
    margin: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

/**
 * `checkbox` & `radio` replacement styling. Aside from the background-image
 *  position the styling of both is very similar so I've grouped them together.
 */
.checker,
.radio {
  height: 20px;
  margin: 0 5px 10px 0;
  position: relative;
  vertical-align: text-top;
  width: 20px; }
  .checkbox .checker, .radiobtn .checker, .checkbox
  .radio, .radiobtn
  .radio {
    margin: -3px 5px 0 0;
    vertical-align: middle; }
  .checker span,
  .radio span {
    background: url(../img/sprite/form-inputs.png) no-repeat left -20px;
    display: block;
    height: 100%;
    width: 100%; }
    .checker span.checked,
    .radio span.checked {
      background-position: right -20px; }
  .checker input,
  .radio input {
    background: none;
    border: none;
    cursor: pointer;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    height: 20px;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    margin: 0;
    padding: 0;
    position: relative;
    width: 20px;
    zoom: 1; }

/**
 * `radio` specifc background positions.
 */
.radio span {
  background-position: left top; }
  .radio span.checked {
    background-position: right top; }

/**
 * `uploader` replacement styling.
 */
.uploader {
  box-sizing: border-box;
  cursor: pointer;
  height: 35px;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  padding-right: 106px;
  width: 100%; }
  .uploader .btn {
    cursor: pointer;
    font-size: 14px;
    font-size: 1.4rem;
    height: 35px;
    letter-spacing: 0;
    line-height: 35px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px; }
  .uploader .filename {
    background-color: white;
    border: 2px solid #3c4448;
    box-shadow: inset 3px 3px 0 #e6eaeb;
    box-sizing: border-box;
    color: #80949d;
    cursor: default;
    display: block;
    float: left;
    height: 35px;
    line-height: 33px;
    margin-right: 6px;
    overflow: hidden;
    padding: 0 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%; }
  .uploader input {
    background: none;
    border: none;
    cursor: pointer;
    float: right;
    height: 100%;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 10; }

/*------------------------------------*\
    #FANCYBOX (v2.1.5)
\*------------------------------------*/
/**
 * Base resets.
 */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top; }

/**
 * Overlay (background).
 */
.fancybox-overlay {
  background: rgba(0, 0, 0, 0.75);
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8010; }
  .fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll; }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

/**
 * Outermost 'wrapping' div.
 */
.fancybox-wrap {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020; }

.fancybox-opened {
  z-index: 8030; }

/**
 * 'Skin', where styling like background and padding is applied. Padding is set
 * within main.js. Moved 'box-shadow' to `.fancybox-wrap` so it doesn't 'jump'
 * into place after fancybox has loaded.
 */
.fancybox-skin {
  background: white;
  position: relative;
  text-shadow: none; }

/**
 * Two div's which wrap the content div.
 *
 * 1) Add momentum scrolling to iframe-type fancyboxes.
 */
.fancybox-outer,
.fancybox-inner {
  position: relative; }

.fancybox-inner {
  overflow: hidden; }
  .fancybox-type-iframe .fancybox-inner {
    /* [1] */
    -webkit-overflow-scrolling: touch; }

/**
 * Set height/width to 100% for image and iframe fancyboxes.
 */
.fancybox-image,
.fancybox-iframe {
  display: block;
  height: 100%;
  width: 100%; }

.fancybox-image {
  max-height: 100%;
  max-width: 100%; }

/**
 * Error message styling (if required).
 */
/**
 * Animated loading .gif.
 */
#fancybox-loading {
  background: black;
  cursor: pointer;
  margin: -25px 0 0 -25px;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 8060; }
  #fancybox-loading div {
    height: 50px;
    background: url(../img/interface/ajax-loading-dark.gif) no-repeat center center;
    width: 50px; }

/**
 * Close 'x' button.
 */
.fancybox-close {
  background: #e5531b url(../img/sprite/btn-close.png) no-repeat center 5px;
  box-shadow: inset 0 -2px 0 #cf4a18;
  border-radius: 100%;
  cursor: pointer;
  height: 30px;
  position: absolute;
  top: -15px;
  transition: all .25s;
  right: -15px;
  width: 30px;
  z-index: 8040; }
  .fancybox-close:hover, .fancybox-close:focus {
    background-color: #cf4a18;
    box-shadow: inset 0 -2px 0 #b84215; }
  .fancybox-close:active {
    box-shadow: none;
    top: -14px; }

/**
 * Prev/next arrows.
 */
.fancybox-nav {
  background: transparent url("blank.gif");
  cursor: pointer;
  height: 100%;
  padding-bottom: 20px;
  position: absolute;
  top: -20px;
  text-decoration: none;
  width: 25%;
  z-index: 8040;
  -webkit-tap-highlight-color: transparent; }
  .fancybox-nav:hover span {
    visibility: visible; }
  .fancybox-nav span {
    background: #2b3438 url(../img/interface/pagination-arrows.png) no-repeat left top;
    box-shadow: inset 0 -2px 0 #20272a;
    border-radius: 100%;
    cursor: pointer;
    height: 30px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
    transition: all .25s;
    left: -15px;
    width: 30px;
    visibility: hidden;
    z-index: 8040; }
    .fancybox-nav span:hover, .fancybox-nav span:focus {
      background-color: #20272a;
      box-shadow: inset 0 -2px 0 #15191b; }
    .fancybox-nav span:active {
      box-shadow: none;
      margin-top: -14px; }

.fancybox-prev {
  left: -20px; }

.fancybox-next {
  right: -20px; }
  .fancybox-next span {
    background-position: right top;
    right: -15px;
    left: auto; }

/**
 * `fancybox-tmp`.
 */
.fancybox-tmp {
  max-height: 99999px;
  overflow: visible !important;
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px; }

/**
 * Overlay helper.
 */
.fancybox-lock {
  overflow: hidden !important;
  width: auto; }
  .fancybox-lock body {
    overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

/**
 * Title text created using `title` attribute on `img` tags. Includes options
 * for title position...
 * 
 * 1) Outside (default).
 * 2) Inside.
 * 3) Over/on top.
 */
.fancybox-title {
  position: relative;
  visibility: hidden;
  z-index: 8050; }
  .fancybox-opened .fancybox-title {
    visibility: visible; }

.fancybox-title-float-wrap {
  margin-bottom: -35px;
  position: absolute;
  right: 50%;
  bottom: 0;
  text-align: center;
  z-index: 8050; }
  .fancybox-title-float-wrap .child {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    color: white;
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    white-space: nowrap; }

.fancybox-title-outside-wrap {
  /* [1] */
  color: white;
  margin-top: 10px;
  position: relative; }

.fancybox-title-inside-wrap {
  /* [2] */
  padding-top: 10px; }

.fancybox-title-over-wrap {
  /* [3] */
  background: rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  color: white;
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

/*------------------------------------*\
    #TEXTURE
\*------------------------------------*/
/**
 * Alerts, badges, boxes and gradients.
 */
/*------------------------------------*\
    #BOX STYLES
\*------------------------------------*/
/**
 * Generic `.boxout` class.
 */
.boxout {
  background: #e6eaeb;
  *zoom: 1;
  margin-bottom: 20px;
  padding: 20px 20px 0; }
  .boxout:before, .boxout:after {
    content: "";
    display: table; }
  .boxout:after {
    clear: both; }

/*------------------------------------*\
    #ALERTS
\*------------------------------------*/
/**
 * Base alert/notification  styles. Extend this object with an `.alert--*` skin
 * class. Includes adjusts for common elements found within alerts.
 *
 * 1. Link styles are adjusted for the darker/coloured alert background.
 * 2. Due to updated link styles, `.btn` colours need to be reset.
 */
.alert {
  background-color: #80949d;
  border-bottom: 3px solid #728892;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.05);
  clear: both;
  color: #e6eaeb;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin-bottom: 40px;
  padding: 20px 20px 10px; }
  .alert p,
  .alert ul,
  .alert ol {
    margin-bottom: 10px; }
  .alert a {
    /* [1] */
    color: #2b3438;
    font-weight: 600; }
    .alert a:visited {
      color: #2b3438; }
    .alert a:hover, .alert a:focus {
      color: white; }
  .alert .btn {
    color: white;
    /* [2] */ }
    .alert .btn:visited {
      color: white; }

/**
 * Skin for success/info/error alerts. Extends `.alert`.
 */
.alert--success {
  background: #b2b74f;
  border-color: #a0a547;
  color: #f0f1dc; }

.alert--info {
  background: #e5531b;
  border-color: #ce4b18;
  color: #faddd1; }

.alert--error {
  background: #d22942;
  border-color: #bd253b;
  color: #f6d4d9; }

/**
 * Main title of the alert message.
 *
 * 1. Depending on the type of alert (default/info/success/error) an icon is
 *    display alongside the title. Extends `.icon--*` in _fontello.scss.
 * 2. You can display the entire message within the `.alert__title` provided it
 *    isn't too long. If you do this, you might want to reduce the size/lighten
 *    some of the text. To do this wrap the relevant text in a `span`.
 * 3. Any `.btn` displayed inline also gets some special attention for vertical
 *    alignment.
 * 4. Added padding so I could move icon into space with a negative margin. This
 *    is for when a long like of text (2) is within the title it stops content
 *    running under the icon which is a problem when it's a `.flag` or `.btn`
 *    object.
 */
.alert__title {
  color: white;
  font-size: 18px;
  font-size: 1.8rem;
  min-height: 25px;
  margin-bottom: 10px;
  padding-left: 35px;
  /* [4] */ }
  .alert__title:before {
    /* [1] */
    font-size: 140%;
    margin: 0 10px 0 -35px;
    /* [4] */
    opacity: .75;
    top: 2px;
    position: relative; }
  .alert__title span {
    /* [2] */
    color: #80949d;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 400; }
    .alert--success .alert__title span {
      color: #f0f1dc; }
    .alert--info .alert__title span {
      color: #faddd1; }
    .alert--error .alert__title span {
      color: #f6d4d9; }
  .alert__title .btn {
    /* [3] */
    margin: -2px 0 0 5px;
    vertical-align: middle; }

/**
 * Close button. Extends `.btn-close` in _buttons.scss.
 */
.alert__close {
  background: url(../img/sprite/btn-close.png) no-repeat 0 -20px;
  float: right;
  margin: 2px 0 5px 10px; }
  .alert--success .alert__close {
    background-position: 0 -40px; }
  .alert--info .alert__close {
    background-position: 0 -60px; }
  .alert--error .alert__close {
    background-position: 0 -80px; }

/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
/**
 * Page level layout styles (banner, navigation, content, contentinfo).
 */
/*------------------------------------*\
    #HELPERS
\*------------------------------------*/
.align-center {
  text-align: center; }

/*------------------------------------*\
    #OBJECTS/WRAPPERS
\*------------------------------------*/
/**
 * The `.section` wrapper for horizintal groups of content. Almost always
 * contains direct child of `.wrap` to center content, set with a max-width.
 * 
 * The `section` div has two different states:
 *
 * 1) A grey background and border
 * 2) A white background and border
 *
 * 1. While styling for each state is similar, depending on how they're stacked
 *    borders and vertical padding is reduced/removed. For example, if the same
 *    states are stacked on top of each other we remove the `border-top` and
 *    `padding-top` on the following `.section` to remove excess vertical space.
 * 2. And add the border/padding on again if it's an alternate `.section`.
 */
.band {
  padding: 60px 0; }

.band--tint {
  background: #f4f6f6; }

.band--dark {
  background: #2b3438; }
  .band--dark h1,
  .band--dark h2,
  .band--dark h3,
  .band--dark h4 {
    color: white; }
  .band--dark a:visited {
    color: #e5531b; }
  .band--dark a:hover, .band--dark a:focus {
    color: white; }
  .band--dark .amp {
    color: white; }

.band--primary {
  background: linear-gradient(to right, #ce4b18 0%, #eb6718 100%);
  color: #ea7549; }
  .band--primary h1,
  .band--primary h2,
  .band--primary h3,
  .band--primary h4 {
    color: white; }
  .band--primary .amp {
    color: white; }

/**
 * Child of `.section` container to center content set with a max-width.
 */
.wrap {
  *zoom: 1;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px 20px 20px;
  width: 100%;
  max-width: 1200px; }
  .wrap:before, .wrap:after {
    content: "";
    display: table; }
  .wrap:after {
    clear: both; }
  .page-head .wrap {
    padding: 0 20px; }
  .page-head .wrap, .page-foot .wrap {
    position: relative;
    z-index: 1; }

/*------------------------------------*\
    #PAGE-HEAD
\*------------------------------------*/
/**
 * The `.page-head` can contain user info and navigation, though navigation is
 * not always displayed depending on the user and/or page type.
 */
.page-head {
  background: #2b3438 url(../img/interface/bg-tile.png) 0 0;
  padding-top: 20px;
  position: relative; }
  .page-head:before {
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 100%);
    content: "";
    display: block;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 0; }

.page-head__logo {
  float: left;
  margin-top: 5px; }

/*------------------------------------*\
    #NAVIGATION
\*------------------------------------*/
/**
 * `.site-nav` is the main page navigation. It has 3 states:
 *
 * 1) On mobile/small screens the responsive-nav.js plug-in comes into play and
 *    a toggle (#site-nav__toggle) is displayed which expands/collapses the list
 *    of nav items.
 * 2) Above 768px, the toggle is hidden and the navigation is always in view
 *    again but only the icons are displayed to minimise horizontal space. The
 *    styling for this state is extended in _768.scss.
 * 3) Above 992px both icons and text is displayed on each nav item. This is
 *    extended in _992.scss.
 */
.site-nav {
  *zoom: 1;
  width: 100%; }
  .site-nav:before, .site-nav:after {
    content: "";
    display: table; }
  .site-nav:after {
    clear: both; }

/**
 * Base styling for the navigation list.
 *
 * 1. Required for responsive.js - didn't want to remove from their theme/base 
 *    styling - as I assume they're in for a reason!
 */
.site-nav__list {
  margin: 0;
  padding: 0;
  width: 100%;
  clip: rect(0 0 0 0);
  /* [1] */
  max-height: 0;
  /* [1] */
  position: absolute;
  /* [1] */
  display: block;
  /* [1] */
  overflow: hidden;
  /* [1] */
  zoom: 1;
  /* [1] */ }
  .site-nav__list.opened {
    margin-bottom: 20px;
    padding-bottom: 2px;
    max-width: 9999px;
    /* [1] */ }

.site-nav__item {
  background: none;
  display: block;
  font-weight: 600;
  margin: 0;
  padding-left: 0;
  text-transform: uppercase;
  width: 100%; }
  .site-nav__item.selected {
    background-color: #2b3438; }

.site-nav__link {
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  color: #80949d;
  display: block;
  padding: 20px 10px;
  transition: all .25s;
  overflow: hidden; }
  .site-nav__link:visited {
    color: #80949d; }
  .site-nav__link:hover, .site-nav__link:focus {
    color: white; }
  .site-nav__link:hover {
    background-color: #20272a;
    border-color: #ea7549; }

/**
 * Toggle that shows/hides the navigation list.
 *
 * 1. Background-position is adjusted when class of `.open` is added by
 *    responsive-nav.js.
 */
#site-nav__toggle {
  background: url(../img/interface/site-nav-toggle.png) no-repeat left center;
  display: block;
  float: right;
  height: 30px;
  text-indent: -9999px;
  transition: all .50s ease-in;
  width: 30px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none; }
  #site-nav__toggle.open {
    background-position: right center;
    /* [1] */ }

/*------------------------------------*\
    #FOOTER
\*------------------------------------*/
/**
 * The page footer is very simple and only holds a logo and copyright text...
 */
.page-foot {
  background: #2b3438 url(../img/interface/bg-tile.png) 0 0;
  padding-top: 20px;
  position: relative; }
  .page-foot:before {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
    content: "";
    display: block;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .page-foot p {
    font-size: 14px;
    font-size: 1.4rem; }
  .page-foot a {
    color: #80949d; }
    .page-foot a:visited {
      color: #80949d; }
    .page-foot a:hover, .page-foot a:focus {
      color: white; }

.page-foot__logo {
  display: block;
  margin-bottom: 10px; }

.feature-list {
  margin: 0;
  padding-left: 0;
  text-align: center; }

.feature-list__item {
  background: none;
  box-sizing: border-box;
  padding: 0 10px; }
  .feature-list__item p {
    margin-bottom: 10px; }

.feature-list__icon {
  margin: 0 auto 20px;
  max-width: 120px;
  width: 100%; }

.arrow-link {
  font-style: italic; }
  .arrow-link:after {
    color: #2b3438;
    content: "\203a";
    font-style: normal;
    opacity: 0;
    position: relative;
    left: 0;
    transition: all .10s ease-in; }
  .arrow-link:hover:after {
    opacity: 1;
    left: 5px; }

.client-list {
  margin-botom: 20px;
  padding-left: 0;
  text-align: center; }

.client-list__item {
  background: none;
  display: inline-block;
  margin: 0 20px 20px;
  padding: 0; }

.form-quote .form-group__title {
  display: none; }
.form-quote .textfield {
  background: #1d2326;
  box-shadow: inset 3px 3px 0 #191e20;
  color: white; }
  .form-quote .textfield:hover {
    border-color: #485156; }
  .form-quote .textfield:focus {
    border-color: #535e64; }
.form-quote .btn {
  width: 100%; }

.page-head__caption {
  margin: 40px 0; }
  .page-head__caption p {
    font-size: 20px;
    font-size: 2rem; }

.page-foot {
  font-size: 14px;
  font-size: 1.4rem; }
  .page-foot ul {
    padding-left: 0; }
  .page-foot li {
    background: none;
    padding-left: 0; }

.page-foot__sitemap,
.page-foot__resources {
  float: left;
  width: 50%; }

.page-foot__contact {
  clear: left; }

/*------------------------------------*\
    #ARTICLES
\*------------------------------------*/
.h-feed .p-name {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 0; }
.h-feed .dt-published {
  color: #9dacb3;
  font-size: 14px;
  font-size: 1.4rem;
  font-style: italic; }
.h-feed .p-summary {
  margin-bottom: 10px; }

.h-entry__image-link {
  display: block;
  margin-bottom: 20px; }

.featured-projects .h-entry {
  text-align: center; }
.featured-projects .u-featured {
  box-sizing: border-box; }
.featured-projects .p-name {
  margin-bottom: 10px; }

/*------------------------------------*\
    #MODERNIZR
\*------------------------------------*/
/*------------------------------------*\
    #MODERNIZR
\*------------------------------------*/
/* audio */
/* applicationcache */
/* backgroundsize */
/* borderimage */
/* borderradius */
/* boxshadow */
/* canvas */
/* canvastext */
/* cssanimations */
/* csscolumns */
/* cssgradients */
/* cssreflections */
/* csstransforms */
/* csstransforms3d */
/* csstransitions */
/* draganddrop */
/* flexbox */
/* fontface */
/* geolocation */
/* hashchange */
/* history */
/* hsla */
/* indexeddb */
/* inlinesvg */
/* localstorage */
/* multiplebgs */
/* opacity */
/* postmessage */
/* rgba */
/* sessionstorage */
/* smil */
/* svg */
/* svgclippaths */
/* textshadow */
/* touch */
/* video */
/* webgl */
/* websqldatabase */
/* websockets */
/* webworkers */
/*------------------------------------*\
    #MEDIA QUERIES
\*------------------------------------*/
/**
 * Print.
 */
@media print {
  /*------------------------------------*\
      #PRINT STYLES
  \*------------------------------------*/
  /**
   * Root.
   */
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: black !important;
    filter: none !important;
    -ms-filter: none !important;
    text-shadow: none !important; }

  @page {
    margin: 0.5cm; }
  /**
   * Typography.
   */
  h2,
  h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid; }

  p {
    orphans: 3;
    widows: 3; }

  pre,
  blockquote {
    border: 1px solid #3c4448;
    page-break-inside: avoid; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /**
   * Colour.
   */
  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  /**
   * Texture.
   */
  img {
    max-width: 100% !important;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; } }
/**
 * 480px.
 */
@media only screen and (min-width: 480px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap; }

  .feature-list__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: left;
    width: 50%; }
    .feature-list__item:nth-child(odd) {
      clear: left; }

  .feature-list__link {
    margin-top: auto; }

  .client-list__item {
    margin: 0 40px 20px; }

  .form-quote {
    *zoom: 1;
    margin-left: -20px; }
    .form-quote:before, .form-quote:after {
      content: "";
      display: table; }
    .form-quote:after {
      clear: both; }
    .form-quote .form-group {
      box-sizing: border-box;
      float: left;
      padding-left: 20px;
      width: 50%; } }
/**
 * 600px.
 */
@media only screen and (min-width: 600px) {
  /*------------------------------------*\
      #ARTICLES
  \*------------------------------------*/
  .featured-projects .h-entry {
    box-sizing: border-box;
    float: left;
    padding: 0 10px;
    width: 50%; }
    .featured-projects .h-entry:first-child {
      width: 100%; }

  .featured-blog .h-entry {
    box-sizing: border-box;
    padding-left: 120px; }
  .featured-blog .h-entry__image-link {
    float: left;
    margin-left: -120px;
    width: 100px; } }
/**
 * 768px.
 */
@media only screen and (min-width: 768px) {
  /*------------------------------------*\
      #FORMS
  \*------------------------------------*/
  /**
   * Horizontally align form labels (titles) and inputs within `form-group` items.
   */
  .form-horz .form-group__title {
    float: left;
    text-align: right;
    position: relative;
    width: 30%; }
    .form-horz .form-group__title .required {
      position: absolute;
      top: 0;
      right: -12px; }
  .form-horz .form-group__controls,
  .form-horz .error__text {
    margin-left: 35%; }

  /*------------------------------------*\
      #PAGE-HEAD
  \*------------------------------------*/
  /**
   * Adjust logo vertical position now navigation is expanded.
   */
  .page-head__logo {
    margin-top: 10px; }

  /*------------------------------------*\
      #NAVIGATION
  \*------------------------------------*/
  /**
   * Hide mobile (expand/collapsable) navigation but only display icons on links
   * to reduce horizontal space. Extend (show text) in _992.scss.
   *
   * 1. Overwrite widths set in _page.scss which are required for mobile nav.
   */
  .site-nav__list {
    float: right;
    margin-top: -20px;
    width: auto;
    /* [1] */ }

  .site-nav__item {
    float: left;
    width: auto;
    /* [1] */ }

  /**
   * 1. Overwrite styles in _page.scss required for responsive-nav.js.
   */
  .site-nav__list {
    overflow: visible;
    /* [1] */
    position: relative;
    /* [1] */ }
    .site-nav__list.closed {
      max-height: none;
      /* [1] */ }

  .site-nav__link {
    padding: 30px 20px; }

  /**
   * Hide toggle.
   */
  #site-nav__toggle {
    display: none; }

  .page-head__caption {
    padding: 0 0 0 60px;
    width: 60%; }

  .form-quote .form-group {
    width: 33.333%; }

  .page-foot__sitemap,
  .page-foot__resources,
  .page-foot__contact {
    clear: none;
    float: left;
    width: 33.33333%; }

  .feature-quote {
    display: flex; }

  .feature-quote__text {
    flex: 0 1 auto;
    order: 2;
    width: 66.66666%; }

  .feature-quote__cite {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
    margin-top: 0;
    padding-right: 30px;
    width: 33.33333%; }

  .feature-quote__avatar {
    flex-shrink: 0;
    height: 75px;
    width: 75px; }

  .no-flexbox .feature-quote {
    margin: 0 auto 20px;
    max-width: 800px; }
  .no-flexbox .feature-quote__text,
  .no-flexbox .feature-quote__cite {
    text-align: center;
    width: 100%; }
  .no-flexbox .feature-quote__cite p {
    text-align: left; } }
/**
 * 992px.
 */
@media only screen and (min-width: 992px) {
  /*------------------------------------*\
      #GRIDS
  \*------------------------------------*/
  /**
   * Use the `.grid` object to display content in (multiple) column layouts.
   * Extend this object with a `.grid--*` skin class to change it's appearance.
   *
   * 1. A left margin of -20px is set to accommodate `padding-left: 20px;` which
   *    is set on each `grid__item` object. This aligns the left-most edge to the
   *    reset of the page content.
   */
  .grid {
    *zoom: 1;
    margin: 0 0 0 -20px;
    /* [1] */ }
    .grid:before, .grid:after {
      content: "";
      display: table; }
    .grid:after {
      clear: both; }

  /**
   * Each `.grid` column object must have a class of `.grid__item`. The width of
   * each item is set using a width extended in the #WIDTHS section.
   */
  .grid__item {
    box-sizing: border-box;
    float: left;
    padding-left: 20px;
    /* [1] */ }

  /*------------------------------------*\
      #WIDTHS
  \*------------------------------------*/
  /**
   * A set of width classes that can be used throughout the website but are mainly
   * used to set the column widths on `.grid` objects.
   */
  .one-half,
  .two-quarters {
    width: 50%; }

  .one-third {
    width: 33.33333%; }

  .two-thirds {
    width: 66.66666%; }

  .one-quarter {
    width: 25%; }

  .three-quarters {
    width: 75%; }

  .feature-list__item {
    width: 25%; }
    .feature-list__item:nth-child(odd) {
      clear: none; }
    .feature-list__item:nth-child(4n+1) {
      clear: left; }

  .page-foot__about {
    float: left;
    padding-right: 20px;
    width: 50%; }

  .page-foot__sitemap,
  .page-foot__resources {
    width: 15%; }

  .page-foot__contact {
    width: 20%; }

  /*------------------------------------*\
      #ARTICLES
  \*------------------------------------*/
  .featured-projects .h-entry {
    padding: 0 20px;
    width: 33.33333%; }
    .featured-projects .h-entry:first-child {
      width: 33.33333%; }

  .featured-blog {
    *zoom: 1;
    margin: 0 0 -20px; }
    .featured-blog:before, .featured-blog:after {
      content: "";
      display: table; }
    .featured-blog:after {
      clear: both; }
    .featured-blog .h-entry {
      float: left;
      padding-left: 140px;
      width: 50%; } }
/**
 * 1382px.
 */
/**
 * @2x.
 */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /*------------------------------------*\
      #TYPOGRAPHY
  \*------------------------------------*/
  /**
   * Default list-item bullet points
   *
   * 1) A different bullet is used for `.alert` elements.
   */
  ul > li {
    background-image: url(../img/interface/bullet@2x.png);
    background-size: 5px 5px; }
    .alert ul > li {
      background-image: url(../img/interface/bullet-white@2x.png);
      /* [1] */ }

  /**
   * `.file-list` item background icon.
   */
  .file-list__item {
    background-image: url(../img/interface/icon-file@2x.png);
    background-size: 26px 34px; }

  /**
   * Blockquote open/close quotation marks.
   */
  blockquote > p:first-child:before,
  blockquote > p:last-of-type:after {
    background-image: url(../img/interface/quotemarks@2x.png);
    background-size: 16px 26px; }

  /*------------------------------------*\
      #FORMS
  \*------------------------------------*/
  /**
   * .`search` form button.
   */
  .search__btn {
    background-image: url(../img/sprite/form-inputs@2x.png);
    background-size: 40px 185px; }

  /*------------------------------------*\
      #BUTTONS
  \*------------------------------------*/
  /**
   * Close 'x' button.
   */
  .btn-close {
    background-image: url(../img/sprite/btn-close@2x.png);
    background-size: 20px 100px; }

  /**
   * `.actions` button list icons.
   */
  .actions__item {
    background-image: url(../img/sprite/actions@2x.png);
    background-size: 25px 75px; }

  /*------------------------------------*\
      #COMPONENTS
  \*------------------------------------*/
  /**
   * `.pagination` prev/next arrows.
   */
  .pagination li:first-child,
  .pagination li:last-child {
    background-image: url(../img/interface/pagination-arrows@2x.png);
    background-size: 60px 30px; }

  /**
   * `.progress-bar` value.
   */
  .progress-bar__value {
    background-image: url(../img/interface/progress-bar-tile@2x.png);
    background-size: 10px 10px; }

  /**
   * `.stars` - star rating.
   */
  .stars {
    background-image: url(../img/sprite/stars@2x.png);
    background-size: 118px 20px; }

  /**
   * `.grade-arch` - arched/animated star rating.
   */
  .grade-arch__inner,
  .star-1,
  .star-2,
  .star-3 {
    background-image: url(../img/sprite/stars-arch@2x.png);
    background-size: 75px 80px; }

  /*------------------------------------*\
      #TABLES
  \*------------------------------------*/
  /**
   * Table ordering arrows.
   */
  th.order {
    background-image: url(../img/sprite/table-order@2x.png);
    background-size: 7px 300px; }

  /*------------------------------------*\
      #JQUERY-UI
  \*------------------------------------*/
  /**
   * Accordion title arrows.
   */
  .accordion__title {
    background-image: url(../img/interface/accordion-arrows@2x.png);
    background-size: 10px 100px; }

  /**
   * Datepicker prev/next arrows.
   */
  .datepicker[type="text"],
  .datepicker[type="search"] {
    background-image: url(../img/sprite/form-inputs@2x.png);
    background-size: 40px 185px; }

  .ui-datepicker-prev span,
  .ui-datepicker-next span {
    background-image: url(../img/interface/pagination-arrows@2x.png);
    background-size: 60px 30px; }

  /*------------------------------------*\
      #UNIFORM
  \*------------------------------------*/
  /**
   * uniform.js elements all use the same sprite.
   */
  .selector,
  .checker span,
  .radio span {
    background-image: url(../img/sprite/form-inputs@2x.png);
    background-size: 40px 185px; }

  /*------------------------------------*\
      #FANCYBOX
  \*------------------------------------*/
  /**
   * Fancybox loading .gif.
   */
  #fancybox-loading div {
    background-image: url(../img/interface/ajax-loading-dark@2x.gif);
    background-size: 24px 24px; }

  /**
   * Fancybox close 'x' button.
   */
  .fancybox-close {
    background-image: url(../img/sprite/btn-close@2x.png);
    background-size: 20px 100px; }

  /**
   * Fancybox prev/next arrows.
   */
  .fancybox-nav span {
    background-image: url(../img/interface/pagination-arrows@2x.png);
    background-size: 60px 30px; }

  /*------------------------------------*\
      #TEXTURE
  \*------------------------------------*/
  /**
   * `.alert` close 'x' button.
   */
  .alert__close {
    background-image: url(../img/sprite/btn-close@2x.png);
    background-size: 20px 100px; }

  /**
   * Styling for (form) icon button/link to active/hide tooltip.
   */
  .btn-tooltip {
    background-image: url(../img/interface/btn-tooltip@2x.png);
    background-size: 20px 20px; }

  /**
   * Moderated Bubble
   */
  .moderated {
    background-image: url(../img/interface/icon-moderated@2x.png);
    background-size: 20px 20px; }

  /*------------------------------------*\
      #NAVIGATION
  \*------------------------------------*/
  /**
   * `.site-nav` icons.
   */
  .site-nav__link {
    background-image: url(../img/sprite/site-nav@2x.png);
    background-size: 22px 500px; }

  /**
   * `.site-nav` toggle displayed on small screen devices.
   */
  #site-nav__toggle {
    background-image: url(../img/interface/site-nav-toggle@2x.png);
    background-size: 100px 17px; } }
